<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>veloxAttire</title>
    <!-- --favicon-- -->
    <link rel="icon" href="/assets/images/Group 7.png">
    <!-- loader-->
    <!-- <link href="/css/pace.min.css" rel="stylesheet"/>
  <script src="/js/pace.min.js"></script> -->

    <!-- Vector CSS -->
    <link href="/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
    <!-- simplebar CSS-->
    <link href="/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
    <!-- Bootstrap core CSS-->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <!-- animate CSS-->
    <link href="/css/animate.css" rel="stylesheet" type="text/css" />
    <!-- Icons CSS-->
    <link href="/css/icons.css" rel="stylesheet" type="text/css" />
    <!-- Sidebar CSS-->
    <link href="/css/sidebar-menu.css" rel="stylesheet" />
    <!-- Custom Style-->
    <link href="/css/app-style.css" rel="stylesheet" />

    <link rel="stylesheet" href="/css/addmore.css">

    <!-- jQuery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css"
        integrity="sha384-BY+fdrpOd3gfeRvTSMT+VUZmA728cfF9Z2G42xpaRkUGu2i3DyzpTURDo5A6CaLK" crossorigin="anonymous">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700" />
    <!-- https://fonts.google.com/specimen/Roboto -->
    <link rel="stylesheet" href="/Product/css/fontawesome.min.css" />
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="/Product/css/bootstrap.min.css" />
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="/Product/css/templatemo-style.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

            <!-- font awesom  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

        <style>
            #bg-table {
                background: transparent;
                color: white;
            }

            .addCoupon{
                color: white;
                border: 1px solid white;
                background-color: #00225191;
            }

        </style>
</head>

<body class="bg-theme bg-theme1">




    <!-- Start wrapper-->
    <div id="wrapper">

        <!--Start sidebar-wrapper-->
        <div id="sidebar-wrapper" data-simplebar="" data-simplebar-auto-hide="true">
            <div class="brand-logo">
                <a href="index.html">
                    <img style="border: 1px solid rgba(255, 166, 0, 0.397);" src="/assets/images/Group 7.png" class="logo-icon" alt="logo icon">
                    <h5 class="logo-text">veloxAttire Admin</h5>
                </a>
            </div>
            <ul class="sidebar-menu do-nicescrol">
                <li class="sidebar-header">MAIN NAVIGATION</li>
                <li>
                    <a href="DashBoard">
                        <i class="zmdi zmdi-view-dashboard"></i> <span>Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="UserDetails">
                        <i class="zmdi zmdi-invert-colors"></i> <span>Users</span>
                    </a>
                </li>

                <li>
                    <a href="Product">
                        <i class="zmdi zmdi-format-list-bulleted"></i> <span>Product</span>
                    </a>
                </li>

                <li>
                    <a href="Category">
                        <i class="zmdi zmdi-grid"></i> <span>Category</span>
                    </a>
                </li>

                <li>
                    <a href="OrderManagment">
                        <i class="zmdi zmdi-grid"></i> <span>Order Mangment</span>
                    </a>
                </li>

                <li>
                    <a href="loadCoupon">
                      <i class="zmdi zmdi-face"></i> <span>Coupon Management</span>
                    </a>
                  </li>
                
                <li>
                    <a href=""  style="border:2px solid white ;">
                        <i class="zmdi zmdi-face"></i> <span>Sales Report</span>
                    </a>
                </li>

                <li class="sidebar-header">LABELS</li>
                <li><a href="javaScript:void();"><i class="zmdi zmdi-coffee text-danger"></i> <span>Important</span></a>
                </li>
                <li><a href="javaScript:void();"><i class="zmdi zmdi-chart-donut text-success"></i>
                        <span>Warning</span></a></li>
                <li><a href="javaScript:void();"><i class="zmdi zmdi-share text-info"></i> <span>Information</span></a>
                </li>

            </ul>

        </div>
        <!--End sidebar-wrapper-->

        <!--Start topbar header-->
        <header class="topbar-nav">
            <nav class="navbar navbar-expand fixed-top">
                <ul class="navbar-nav mr-auto align-items-center">
                    <li class="nav-item">
                        <a class="nav-link toggle-menu" href="javascript:void();">
                            <i class="icon-menu menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <form class="search-bar">
                            <input type="text" class="form-control" placeholder="Enter keywords">
                            <a href="javascript:void();"><i class="icon-magnifier"></i></a>
                        </form>
                    </li>
                </ul>

                <ul class="navbar-nav align-items-center right-nav-link">
                    <li class="nav-item dropdown-lg">
                        <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown"
                            href="javascript:void();">
                            <i class="fa fa-envelope-open-o"></i></a>
                    </li>
                    <li class="nav-item dropdown-lg">
                        <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown"
                            href="javascript:void();">
                            <i class="fa fa-bell-o"></i></a>
                    </li>
                    <li class="nav-item language">
                        <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown"
                            href="javascript:void();"><i class="fa fa-flag"></i></a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="dropdown-item"> <i class="flag-icon flag-icon-gb mr-2"></i> English</li>
                            <li class="dropdown-item"> <i class="flag-icon flag-icon-fr mr-2"></i> French</li>
                            <li class="dropdown-item"> <i class="flag-icon flag-icon-cn mr-2"></i> Chinese</li>
                            <li class="dropdown-item"> <i class="flag-icon flag-icon-de mr-2"></i> German</li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" href="#">
                            <span class="user-profile"><img src="https://via.placeholder.com/110x110" class="img-circle"
                                    alt="user avatar"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="dropdown-item user-details">
                                <a href="javaScript:void();">
                                    <div class="media">
                                        <div class="avatar"><img class="align-self-start mr-3"
                                                src="https://via.placeholder.com/110x110" alt="user avatar"></div>
                                        <div class="media-body">
                                            <h6 class="mt-2 user-title">Sarajhon Mccoy</h6>
                                            <p class="user-subtitle">mccoy@example.com</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-item"><i class="icon-envelope mr-2"></i> Inbox</li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-item"><i class="icon-wallet mr-2"></i> Account</li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-item"><i class="icon-settings mr-2"></i> Setting</li>
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-item"><i class="icon-power mr-2"></i> Logout</li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
        <!--End topbar header-->

        <div class="clearfix"></div>

        <div class="content-wrapper">
            <div class="container-fluid" style="margin-top: 80dvh;">



        <div class="container"  style="margin-top: 0dvh;">
            <div style="display: flex; justify-content: center;">
            <form id="salesReportForm" class="filter-table"action="#" method="post">
                <label for="from-date">From:</label>
                <input type="date" id="from-date" name="fromdate" style="background-color: rgba(255, 255, 255, 0.653); border: none; border-radius: 3px;" required>
                <label for="to-date">To:</label>
                <input type="date" id="to-date" name="todate" style="background-color: rgba(255, 255, 255, 0.653); border: none; border-radius: 3px;" required>
                <button type="submit" style="border: none; background-color: transparent;"><i class="fa-solid fa-filter fa-bounce" style="color: rgb(233, 252, 255);"></i></button>
            </form>
        </div>
            <div style="display: flex;justify-content: center;">
                <a href="#" onclick="downloadPDF('printThisDiv')"
                        style="color: rgb(255, 255, 255); font-weight: 200; font-size: 14px; text-decoration: none; background-color: rgba(1, 69, 90, 0.373);padding: 5px 5px ; border-radius: 15px;">Download as PDF</a>
                
                <a href="#" onclick="downloadExcel('printThisDiv')"
                    style="color: rgb(255, 255, 255); font-weight: 200; font-size: 14px; text-decoration: none;  margin-left: 15px;  background-color: rgba(1, 69, 90, 0.373); padding: 5px 5px ; border-radius: 15px;">Download as Excel</a>
            </div>
        </div>


<div class="row" id="printThisDiv">
    <div class="col-12 col-lg-12" style="background-color: transparent;">
        <div class="card" style="background-color: transparent;">
            <div class="table-responsive">
                <div class="container d-flex justify-content-center">
                    <p style="font-size: 2rem; color: white;">Sales Report</p>
                </div>
                
                <!--================Order Area =================-->
                <div id="reloadDiv">
                    <section class="cart_area padding_top">
                        <div class="container">
                            <div class="cart_inner">
                                <div class="table-responsive">
                                    <% if ( order ) { %>
                                        <table class="table" id="orderTable" >
                                            <thead>
                                                <tr>
                                                    <th scope="col" style="color: red;">Date</th>
                                                    <th scope="col" style="color: rgb(85, 196, 0);">Order ID</th>
                                                    <th scope="col">Customer</th>
                                                    <th scope="col">Orders Products</th>
                                                    <th scope="col">Amount</th>
                                                    <th scope="col">Payment Method/th>
                                                </tr>
                                            </thead>
                                            <tbody id="usersContainer">
                                                <% for (let i=0; i < order.length; i++) { %>
                                                    <tr>
                                                        <td>
                                                            <div class="media">
                                                                <div class="media-body">
                                                                    <p style="color: red;">
                                                                        <%= order[i].Orderdate.toLocaleDateString() %>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <h5 style="color: rgb(85, 196, 0);">
                                                                <%= order[i].OderId %>
                                                            </h5>
                                                        </td>
                                                        <td>
                                                            <div class="display-flex">
                                                                <p><%= order[i].UserId.name %></p>
                                                                <p><%= order[i].UserId.email %></p>
                                                                <p><%= order[i].UserId.phoneNumber %></p>
                                                            </div>
                                                        <td>
                                                            <div class="media-body">
                                                                <% for (let j=0; j < order[i].OrderItems.length; j++) { %>
                                                                    <p style="font-size: 14px;"><span style="color: orange;">
                                                                            <%= j + 1 %> :
                                                                        </span>
                                                                        <%= order[i].OrderItems[j].ProductId.Name %>
                                                                    </p>
                                                                <% } %>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <h5> $ <%= order[i].totalAmount %>
                                                            </h5>
                                                        </td>
                                                        <td>
                                                            <div class="media">
                                                                <div class="media-body">
                                                                    <p style="color: blue;">
                                                                        <%= order[i].PaymentMethod %>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <% } %>
                                            </tbody>
                                        </table>
                                        <% } else{%>
                                            <div class="text-center d-flex justify-content-center">
                                                <h2 style="font-family:serif">Empty Orders...! </h2>
                                            </div>
                                            <% } %>

                                </div>
                            </div>
                    </section>
                </div>
                <!--================End Cart Area =================-->
            </div>
        </div>

    </div>
</div><!--End Row-->

<!-- <div class="row "> -->
    <!-- PAGINATION -->
        <!-- <% if(totalPages) { %>
            <div class="col-lg-12">
                <div class="pageination">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <i class="ti-angle-double-left"></i>
                                </a>
                            </li>
                            <% for(let i=1; i <=totalPages ; i++ ){ %>
                                <li class="page-item"><a href="/admin/loadSalesReport?page=<%= i %>" class="page-link">
                                        <%= i %>
                                    </a></li>
                                <% } %>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Next">
                                            <i class="ti-angle-double-right"></i>
                                        </a>
                                    </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <% } %> -->
<!-- </div> -->



        <!--start overlay-->
        <div class="overlay toggle-menu"></div>
        <!--end overlay-->

            </div><!-- End container-fluid-->
        </div><!--End content-wrapper-->
        <!--Start Back To Top Button-->
        <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
        <!--End Back To Top Button-->

        <!--Start footer-->
        <footer class="footer">
            <div class="container">
                <div class="text-center">


                    ----------------------
                </div>
            </div>
        </footer>
        <!--End footer-->

        <!--start color switcher-->
        <div class="right-sidebar">
            <div class="switcher-icon">
                <i class="zmdi zmdi-settings zmdi-hc-spin"></i>
            </div>
            <div class="right-sidebar-content">

                <p class="mb-0">Gaussion Texture</p>
                <hr>

                <ul class="switcher">
                    <li id="theme1"></li>
                    <li id="theme2"></li>
                    <li id="theme3"></li>
                    <li id="theme4"></li>
                    <li id="theme5"></li>
                    <li id="theme6"></li>
                </ul>

                <p class="mb-0">Gradient Background</p>
                <hr>

                <ul class="switcher">
                    <li id="theme7"></li>
                    <li id="theme8"></li>
                    <li id="theme9"></li>
                    <li id="theme10"></li>
                    <li id="theme11"></li>
                    <li id="theme12"></li>
                    <li id="theme13"></li>
                    <li id="theme14"></li>
                    <li id="theme15"></li>
                </ul>

            </div>
        </div>
        <!--end color switcher-->

    </div><!--End wrapper-->

    <!-- Bootstrap core JavaScript-->
    <script src="/Product/js/jquery.min.js"></script>
    <script src="/Product/js/popper.min.js"></script>
    <script src="/Product/js/bootstrap.min.js"></script>

    <!-- simplebar js -->
    <script src="/Product/plugins/simplebar/js/simplebar.js"></script>
    <!-- sidebar-menu js -->
    <script src="/Product/js/sidebar-menu.js"></script>
    <!-- loader scripts -->
    <script src="/Product/js/jquery.loading-indicator.js"></script>
    <!-- Custom scripts -->
    <script src="/Product/js/app-script.js"></script>
    <!-- Chart js -->

    <script src="/Product/plugins/Chart.js/Chart.min.js"></script>

    <!-- Index js -->
    <script src="/Product/js/index.js"></script>

    <script src="/Productjs/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="/Productjs/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <!-- Bootstrap JavaScript -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
  crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
  integrity="sha384-eMNCOe7tC1doHpGoJtKh7z7lGz7fuP4F8nfdFvAOA6Gg/z6Y5J6XqqyGXYM2ntX5"
  crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
  crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

        <script>

            const salesReportForm = document.getElementById('salesReportForm');
            const fromDateInput = document.getElementById('from-date');
            const toDateInput = document.getElementById('to-date');
        
            salesReportForm.addEventListener('submit', (event) => {
                const fromDate = new Date(fromDateInput.value);
                const toDate = new Date(toDateInput.value);
                const today = new Date();
                console.log("Date validation invoked");
        
                if (fromDate > today) {
                    event.preventDefault();
                    Swal.fire({
                        icon: 'warning',
                        title: 'Oops...',
                        text: 'From date cannot be greater than today date!',
                    });
                    return;
                }
        
                if (toDate > today) {
                    event.preventDefault();
                    Swal.fire({
                        icon: 'warning',
                        title: 'Oops...',
                        text: 'To date cannot be greater than today date!',
                    });
                    return;
                }
        
                if (fromDate > toDate) {
                    event.preventDefault();
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'From date cannot be greater than To date.',
                    });
                    return;
                }
            });
        
        
        
                function downloadPDF(divName) {
                    const printContents = document.getElementById(divName).innerHTML;
                    const originalContents = document.body.innerHTML;
                    document.body.innerHTML = printContents;
                    window.print();
                    document.body.innerHTML = originalContents;
                }
        
                function downloadExcel(divName) {
        
            const table = document.getElementById(divName);
            const rows = table.getElementsByTagName('tr');
            let csvContent = "data:text/csv;charset=utf-8,";
        
            for (const row of rows) {
                const cells = row.getElementsByTagName('td');
                const cellValues = [];
                for (const cell of cells) {
                    cellValues.push(cell.textContent);
                }
                csvContent += cellValues.join(',') + '\n';
            }
        
            const encodedUri = encodeURI(csvContent);
            const link = document.createElement('a');
            link.setAttribute('href', encodedUri);
            link.setAttribute('download', 'data.csv');
            document.body.appendChild(link);
        
            link.click();
            document.body.removeChild(link);
        }
        
            </script>
    

    <script>
        $(function () {
            $(".tm-product-name").on("click", function () {
                window.location.href = "edit-product.html";
            });
        });
    </script>

    <script>
        function updateSalesReport(){
            const startDate = document.getElementById('from-date').value
            const endDate = document.getElementById('to-date').value
            console.log(startDate,endDate);

            fetch('/admin/filter-sales_report', {
                method:'POST',
                headers:{
                    'Content-type': 'application/json'
                },
                body:JSON.stringify({startDate,endDate})
            })
        }

        const filterForm =  document.getElementById('salesReportForm')
        filterForm.addEventListener('submit',updateSalesReport)
        
    </script>

</body>
</html>