<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>veloxAttire</title>
    <link rel="icon" href="/assets/images/Group 7.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="css/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Custom CSS  -->
    <link rel="stylesheet" href="/css/added.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- sweet alert -->
    <!--  SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">

    <!--  SweetAlert2 JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <!-- ..Font Awesom -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />




    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            /* background-color: #f8f8f8; */
        }

        /* 
        .container {
            display: flex;
            justify-content: space-between;
            max-width: 1200px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        } */

        .address-section {
            flex: 1;
            padding-right: 20px;
        }

        .product-section {
            flex: 1;
            padding-left: 20px;
        }

        * h2 {
            color: #333;
        }

        .subb {
            margin: 20px;
        }

        .AddAddress {
            background-color: #ffa600;
            color: #fff;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
        }

        .mb-3p {
            line-height: 0.5;

        }

        .button-address {

            width: 200px;
        }

        .opti-main {

            display: flex;
            justify-content: left;
            align-items: center;

        }

        #slectColordiv {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 3px solid rgb(255, 229, 126);
            border-radius: 15px;
            background-color: rgb(255, 255, 255);
        }

        /* Exsisting address style */
        .address-container {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .address-details {
            flex: 1;
        }

        .address-action {
            margin-left: 10px;
        }

        input[type="radio"][name^="selectedAddress_"]+label {
            display: inline-block;
            width: 20px;
            height: 20px;
            background-color: white;
            border: 1px solid #ccc;
            border-radius: 50%;
            /* Making the radio button circular */
            cursor: pointer;
        }

        input[type="radio"][name^="selectedAddress_"]:checked+label {
            background-color: green;
        }

        .btn-edit {
            border: none;
            background-color: rgb(245, 204, 24);
            padding: 3px 20px;
            font-size: 14px;
            border-radius: 5px;
            color: white;
        }

        .modal-header {
            background-color: #ffab1b;
        }

        .couponDiv {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid orange;
            padding: 5px;
            margin-bottom: 5px;
            border-radius: 5px;
        }

        .coupon-name {
            width: 200px;

        }

        .discount-type {
            width: 100px;

        }

        .instructionDiv {
            display: flex;
            justify-content: center;
            font-size: 14px;
            color: orange;
        }

        /* Add more styles as needed for responsiveness and attractiveness */
    </style>

</head>

<body>
    <!--::header part start::-->
    <header class="main_menu home_menu">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="home.ejs"> <img src="images/Group 7.png" alt="logo"> </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="menu_icon"><i class="fas fa-bars"></i></span>
                        </button>

                        <div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="/">Home</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown_1"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Shop
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_1">
                                        <a class="dropdown-item" href="/loadSearchProduct"> shop category</a>
                                    </div>
                                </li>

                            </ul>
                        </div>
                        <div class="hearer_icon d-flex"
                            style="width: 180px; justify-content: space-between; align-items: center;">
                            <a id="search_1" href="javascript:void(0)"><i class="ti-search"></i></a>
                            <a href="/loadWhishList"><i class="fa-regular fa-heart" style="color: red;"></i></a>

                            <a href="/Cart"><i class="fa-solid fa-cart-shopping fa-bounce"
                                    style="color: rgb(255, 106, 0);"></i></a>

                            <!-- Button to open the modal -->

                            <a><button type="button" id="couponModalButton" data-bs-toggle="modal" data-coupon-id="1"
                                    style="border: none; background: transparent;"><i class="fa-solid fa-award fa-flip"
                                        style="color: rgb(255, 106, 0);"></i></button></a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <!-- <div class="search_input" id="search_input_box">
            <div class="container ">
                <form class="d-flex justify-content-between search-inner">
                    <input type="text" class="form-control" id="search_input" placeholder="Search Here">
                    <button type="submit" class="btn"></button>
                    <span class="ti-close" id="close_search" title="Close Search"></span>
                </form>
            </div>
        </div> -->
    </header>
    <!-- Header part end-->


    <!-- Modal For showing Coupons -->

    <div class="modal fade" id="viewCouponModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="viewCouponModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="border: none;">
                <div class="modal-header">
                    <h5 class="modal-title" id="viewCouponModalLabel" style="color: white;">
                        <i class="fas fa-tag"></i> View Coupon Details
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <p6 style="font-size: 14px; padding: 5px;">Copy and Paste the Coupon Code on Checkout page to redeem the
                    coupon..!</p6>
                <div class="modal-body" style="padding: 10px;">
                    <!-- Dynamic coupon details will be inserted here -->
                </div>
                <!--
                <div style="display: flex; justify-content: center;">
                    <label class="form-label"></label>
                    <p6 style="font-size: 14px; font-weight: lighter; color: orange; margin-top: -40px;" id="instruction"></p6>
                </div>
                -->
                <div class="modal-footer">
                    <!-- You can add buttons here if needed -->
                </div>
            </div>
        </div>
    </div>



    <div class="container-fluid" style="position: relative; top: 11vmin; display: flex; justify-content: center;">
        <h3 class="h3">Place Your Order here</h3>
    </div>





    <div class="container mt-5" style="margin-top: 16vw !important;">

        <div class="row">
            <!-- Address Management Section -->
            <div class="col-md-6 mb-3" style="border: 1px solid rgb(255, 244, 206); background-color: #fffbf7; ">

                <div class="cupon_area">
                    <div style="height: 20px; display: flex; justify-content: center;">
                        <p6 id="errormsg_coupon" style="color: red; font-size: 14px;"></p6>
                    </div>
                    <p style="margin-top: 2px;">
                        Have a coupon?
                    </p>
                    
                    <div
                        style="display: flex; align-items: center; justify-content: space-between; border: 0.4px solid #eeeeee; border-radius: 10px 18px 18px 10px ; background-color: white;">
                        <input style="width: 280px; margin: 2px 2px; border: none; background: transparent;"
                            id="couponCode" type="text" placeholder="Enter coupon code" />
                        <input type="hidden" value="<%= Total %>" id="totalAmount">
                        <a class="btn_3" style="width: fit-content; height: fit-content; margin-right: 2px;"
                            id="getCoupon">Apply Coupon</a>
                    </div>
                </div>

                <div id="AddressSelectionDiv">
                    <h6 style="margin-bottom: 5px;">Select your Address to Deliver product</h6>
                        
                    <% if (typeof Address !=='undefined' && Address.length > 0) { %>
                        <% Address.forEach((address, index)=> { %>
                            <div class="address-container">
                                <div class="address-details" style="border-radius: 5px;">
                                    <p style="background-color: #ffffff; padding: 0px 10px; border-radius: 5px; border: 1px solid rgb(255, 186, 95);">
                                        <%= address.add1 %>, <%= address.PinCode %>, <%= address.Country %>, <%= address.Town %>
                                    </p>
                                    <div class="full-address" id="fullAddress_<%= index %>">
                                        <p>
                                            <%= address.add1 %>
                                        </p>
                                        <p>
                                            <%= address.District %>, <%= address.State %>, <%= address.PinCode %>
                                        </p>
                                        <p>
                                            <%= address.Country %>
                                        </p>
                                        
                                        <a href="/Edit_Address?id=<%= encodeURIComponent(address._id) %>&from=<%= encodeURIComponent('checkout') %>" >
                                        <button class="btn-edit">Edit</button></a>
                                    </div>
                                </div>
                                <div class="address-action">
                                    <input type="radio" id="addressRadio_<%= index %>" name="selectedAddress"
                                        value="<%= address._id %>" onchange="toggleAddressDetails('<%= index %>')">
                                    <label for="addressRadio_<%= index %>"></label>
                                </div>
                            </div>
                            <% }) %>
                                <% } else { %>
                                    <p>No Previous Address</p>
                                    <% } %>
                </div>


                <div style=" display: flex; justify-content: space-around; margin-top: 15px;">
                    <button type="button" onclick="hideAneme()" class="btn btn-primary btn-block button-address">Add
                        Address</button>
                </div>


                <div class="subb" id="Addressdiv" style="display: none;  ">
                    <div style="display: flex; align-items: center; justify-content: center; height: 30px;"><p id="F_name" style=" color: red; font-size: 14px;"></p></div>

                    <form class="row contact_form" style="line-height: 0.5 !important;" action="checkout_add_address"
                        method="post" novalidate="novalidate" onsubmit=" return address_Validation()">
                        <!-- Custom Address Input Form -->
                        <div class="col-md-6 form-group p_star">
                            <label for="">First Name</label>
                            <input type="text" class="form-control" id="first" name="firstname" required />
                        </div>

                        <div class="col-md-6 form-group p_star">
                            <label for="last">Last Name</label>
                            <input type="text" class="form-control" id="last" name="lastname" />
                        </div>

                        <div class="col-md-6 form-group p_star">
                            <label for="">Phone Number</label>
                            <input type="text" class="form-control" id="number" name="number" />
                        </div>

                        <div class="col-md-6 form-group p_star">
                            <label for="">Email</label>
                            <input type="text" class="form-control" id="email" name="email" />
                        </div>

                        <div class="col-md-12 form-group p_star " style="display: flex;">
                            <div class="col-md-6 form-group p_star">
                                <label for="email">Country</label>
                                <input type="text" class="form-control" id="Country" name="Country" required />
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <label for="email">State</label>
                                <input type="text" class="form-control" id="State" name="State" required />
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <label for="email">District</label>
                                <input type="text" class="form-control" id="District" name="District" required />
                            </div>
                        </div>

                        <div class="col-md-12 form-group p_star">
                            <label for="add1">Flat, House no., Building, Company, Apartment</label>
                            <input type="text" class="form-control" id="add1" name="add1" required />
                        </div>

                        <div class="col-md-12 form-group p_star">
                            <label for="add2">Area, Street, Sector, Village</label>
                            <input type="text" class="form-control" id="add2" name="add2"required />
                        </div>

                        <div class="col-md-12 form-group p_star">
                            <label for="city">Town / City</label>
                            <input type="text" class="form-control" id="city" name="city" required />
                        </div>

                        <div class="col-md-12 form-group">
                            <label for="pincode">Pincode</label>
                            <input type="text" class="form-control" id="pincode" name="pincode" max="6"
                                placeholder="Postcode/ZIP" required />
                        </div>

                        <div style="display: flex; justify-content: center;">
                            <input type="submit" value="Add Address" class="AddAddress btn_3">
                        </div>

                        <input type="hidden" name="fromCheckout" value="true">

                    </form>
                </div>
            </div>

            <!-- Product Details Section -->
            <div class="col-md-6">
                <div class="card mb-3" style="border: 1px solid rgb(255, 244, 206); background-color: #fffbf7; ">
                    <div class="card-body">
                        <h5 class="card-title">Product Details</h5>

                        <% if(user && user.cart && user.cart.length> 0) {%>

                            <% user.cart.forEach((item,i=0)=> { %>
                                <% if (!item.product.isList) { %>
                                <!-- Add your product details, total price, delivery options, etc. here -->
                                <div class="mb-3"
                                    style="display: flex; align-items: center; width: 100%; border-radius: 10px; ">
                                    <div class="image_container"
                                        style="width: 100px !important; height: 100px !important;">
                                        <img class="product-image" src="/assets/uploads/<%= item.product.Image[0] %>"
                                            alt="" />
                                    </div>
                                    <div
                                        style="border: 1px solid wheat; width: 70%; display: flex;justify-content: left; border-radius: 10px;">
                                        <div style="margin :10px ">
                                            <p class="mb-3p"><span style="font-weight:500">
                                                    <%= item.product.Name %>
                                                </span> </p>
                                            <p class="mb-3p"><span style="font-weight:400">Price :</span>
                                                <%= item.product.Price %>
                                            </p>
                                            <p class="mb-3p"><span style="font-weight:400">Quantity :</span>
                                                <%= item.quantity %>
                                            </p>
                                            <p class="mb-3p"><span style="font-weight:400">SubTotal :</span>$<%=
                                                    item.product.Price * item.quantity %>
                                            </p>
                                        </div>
                                    </div>

                                </div>
                                <%} %>
                                <% }); %>
                                    <div style="display: flex; justify-content: end; width: 90%;">
                                        <div>
                                            <p1> Coupon :<span id="appliedCoupon" style="font-weight: 500;">
                                                    <% if(typeof coupon !=='undefined' ) { %>

                                                        <% }else{ %>
                                                            No coupon
                                                            <% } %>
                                                </span>
                                            </p1>
                                            <div style="display: flex; justify-content: end; ">
                                                <p1 id="appliedCouponDiscount">
                                                    <% if(typeof coupon !=='undefined' ) { %>
                                                        <% } %>
                                                </p1>
                                                <p1 style="color: #ffa600;" id="discountType"></p1>
                                            </div>
                                            <div style="display: flex; justify-content: end; ">
                                                <p1 id="discoundAmount" style="color: red;"></p1>
                                            </div>
                                            <% if (deliveryCharge) { %>
                                                <p3 style="font-size: 12px;"> Purchase more than $500.. Delivery charge free...</p3>
                                                <p>Delivery charge : $<%= deliveryCharge %> </p>
                                            <% } %>
                                            
                                            <h6 class="card-subtitle mb-2 text-muted"
                                                style="padding-top: 5px; border-top: 1px solid gray;">Total Price:$
                                                <span id="totalPrice" style="color: rgb(0, 28, 36);">
                                                    <%= Total %>
                                                </span></h6>
                                        </div>
                                    </div>
                                    <div class="form-group"
                                        style="border-top: 1px solid rgba(200, 197, 197, 0.767); padding: 5px;">
                                        <label for="deliveryOption">Delivery Options:</label>


                                        <form id="paymentForm">
                                            <% if(Total < 1000) {%>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="paymentMethod"
                                                    value="COD" id="codOption">
                                                <label class="form-check-label" for="codOption">Cash on Delivery</label>
                                            </div>
                                            <% } %>

                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="paymentMethod"
                                                    value="RazorPay" id="razorpayOption">
                                                <label class="form-check-label" for="razorpayOption">RazorPay</label>
                                            </div>

                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" style="color: rgb(255, 0, 0);" name="paymentMethod"
                                                    value="Wallet" id="onlinePaymentOption">
                                                <label class="form-check-label" for="onlinePaymentOption">Wallet
                                                    </label>
                                            </div>

                                            <!-- <button type="button" onclick="placeOrder()">Place Order</button> -->
                                        </form>

                                    </div>
                                    <div style="height: 50px;">
                                        <p id="Msg_fr_COD_Option" style="color: red;"></p>
                                    </div>
                                    <!-- if coupne applied ,push the value from " coupon applied function" -->
                                    <input type="hidden" id="couponId" name="couponId">

                                    <button type="button" onclick="placeOrder()" id="placeorder"
                                        class="btn btn-primary btn-block">Place
                                        Order</button>

                                    <% } %>


                                    <!-- Razorpay -->
                                    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        function hideAneme() {
            var AddressDivSt = document.getElementById('Addressdiv')

            if (AddressDivSt.style.display === 'none') {
                document.getElementById('Addressdiv').style.display = "block"
            } else {
                document.getElementById('Addressdiv').style.display = "none"
            }

        }
    </script>


    <!--::footer_part start::-->
    <footer class="footer_part">
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-sm-6 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Top Products</h4>
                        <ul class="list-unstyled">
                            <li><a href="">Managed Website</a></li>
                            <li><a href="">Manage Reputation</a></li>
                            <li><a href="">Power Tools</a></li>
                            <li><a href="">Marketing Service</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Quick Links</h4>
                        <ul class="list-unstyled">
                            <li><a href="">Jobs</a></li>
                            <li><a href="">Brand Assets</a></li>
                            <li><a href="">Investor Relations</a></li>
                            <li><a href="">Terms of Service</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Features</h4>
                        <ul class="list-unstyled">
                            <li><a href="">Jobs</a></li>
                            <li><a href="">Brand Assets</a></li>
                            <li><a href="">Investor Relations</a></li>
                            <li><a href="">Terms of Service</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Resources</h4>
                        <ul class="list-unstyled">
                            <li><a href="">Guides</a></li>
                            <li><a href="">Research</a></li>
                            <li><a href="">Experts</a></li>
                            <li><a href="">Agencies</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="single_footer_part">
                        <h4>Newsletter</h4>
                        <p>Heaven fruitful doesn't over lesser in days. Appear creeping
                        </p>
                        <div id="mc_embed_signup">
                            <form target="_blank"
                                action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                method="get" class="subscribe_form relative mail_part">
                                <input type="email" name="email" id="newsletter-form-email" placeholder="Email Address"
                                    class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = ' Email Address '">
                                <button type="submit" name="submit" id="newsletter-submit"
                                    class="email_icon newsletter-submit button-contactForm">subscribe</button>
                                <div class="mt-10 info"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="copyright_part">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="copyright_text">

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="footer_icon social_icon" style="color: rgb(0, 156, 0);">
                            <ul class="list-unstyled">
                                <li><a href="#" class="single_social_icon"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" class="single_social_icon"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" class="single_social_icon"><i class="fas fa-globe"></i></a>
                                </li>
                                <li><a href="#" class="single_social_icon"><i class="fab fa-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--::footer_part end::-->

    <script>
    document.getElementById("Msg_fr_COD_Option").style.display = "block";
        setTimeout(function(){
        document.getElementById("Msg_fr_COD_Option").style.display = "none";
        }, 5000);
    </script>

    </script>

    <!-- jquery plugins here-->
    <!-- jquery -->
    <script src="js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="js/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="js/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <!-- slick js -->
    <script src="js/slick.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <!-- <script src="js/contact.js"></script> -->
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="js/stellar.js"></script>
    <!-- <script src="js/price_rangs.js"></script> -->
    <!-- custom js -->
    <script src="js/custom.js"></script>

    <!-- Bootstrap JS and dependencies (optional, if needed) -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous">
    </script>



    <script>
        function toggleAddressDetails(index) {
            const fullAddresses = document.querySelectorAll('.full-address');
            const addressRadios = document.getElementsByName('selectedAddress');
            let isSelected = false;

            // any radio button is selected
            for (let i = 0; i < addressRadios.length; i++) {
                if (addressRadios[i].checked) {
                    isSelected = true;
                    break;
                }
            }

            // Hide all address details if no radio button is selected
            if (!isSelected) {
                fullAddresses.forEach(address => {
                    address.style.display = 'none';
                });
                return;
            }

            // Hide all address details initially
            fullAddresses.forEach(address => {
                address.style.display = 'none';
            });

            // Show details for the selected address
            const fullAddress = document.getElementById(`fullAddress_${index}`);
            fullAddress.style.display = 'block';
        }

        function editAddress(addressId) {
            // Implement edit address functionality here
            console.log(`Editing address with ID: ${addressId}`);
        }



        function getSelectedAddress() {
            var addressRadios = document.getElementsByName('selectedAddress');
            var addressId;

            // Find the selected address
            for (var i = 0; i < addressRadios.length; i++) {
                if (addressRadios[i].checked) {
                    addressId = addressRadios[i].value;
                    break;
                }
            }
            return addressId;
        }


        function placeOrder() {
            var selectedPaymentMethod = getSelectedPaymentMethod();
            var addressId = getSelectedAddress();
            const couponId = document.getElementById('couponId').value
            console.log("The coupon id is :> ",couponId);

            console.log(addressId);

            if (!addressId) {
                document.getElementById('Msg_fr_COD_Option').innerHTML = 'Please select a Address or create.'
                console.log('Please select a Address.');

            } else {
                if (selectedPaymentMethod) {

                    console.log('Selected Payment Method:', selectedPaymentMethod);
                    const totalAmount = document.getElementById('totalPrice')

                    const Total = totalAmount.textContent
                    console.log(Total);

                    if(Total >= 1000 && selectedPaymentMethod == 'COD'){
                        document.getElementById('Msg_fr_COD_Option').innerHTML = 'COD not available on more than $1000 purchase.'
                        console.log('COD not available on more than $1000 purchase.');
                        return false
                    }

                    sendToServer(selectedPaymentMethod, addressId, Total,couponId);
                } else {
                    document.getElementById('Msg_fr_COD_Option').innerHTML = 'Please select a payment method.'
                    console.log('Please select a payment method.');
                }
            }
        }

        function getSelectedPaymentMethod() {
            var paymentOptions = document.getElementsByName('paymentMethod');

            for (var i = 0; i < paymentOptions.length; i++) {
                if (paymentOptions[i].checked) {
                    return paymentOptions[i].value;
                }
            }

            return null;
        }

        function sendToServer(selectedPaymentMethod, AddressId, Total,couponId) {
            // Example: Send a POST request to your server
            fetch('/placeOrder', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ paymentMethod: selectedPaymentMethod, addressId: AddressId, Total: Total ,couponId:couponId}),
            })
                .then(response => response.json())
                .then(data => {
                    console.log("response reached on cloieent side place order >>");
                    if (data.status === 'COD') {
                        Swal.fire({
                            icon: 'success',
                            title: 'Order Successful!',
                            text: 'Your order has been placed successfully.',
                            timer: 3000, // Show for 3 seconds
                            showConfirmButton: false,
                        });
                        console.log('Data sent to the server:', data)
                        //  Redirect to confirmation page after 3 seconds
                        setTimeout(() => {
                            window.location.href = '/confirmation_Order_page?id=' + data.orderId;
                        }, 3000);

                    }else if(data.status === 'Razorpay'){
                        console.log("the new order data get on place holder invokeRazorpay function",data.newOrder);
                        invokeRazorpay(data.order,data.newOrder)
                        
                    }else if(data.status == 'Wallet'){

                        console.log("wallet swal invoked");
                        Swal.fire({
                            icon: 'success',
                            title: 'Order Successful!',
                            text: 'Your order has been placed successfully.',
                            timer: 3000, // Show for 3 seconds
                            showConfirmButton: false,
                        });
                        console.log('Data sent to the server:', data)
                        //  Redirect to confirmation page after 3 seconds
                        setTimeout(() => {
                            window.location.href = '/confirmation_Order_page?id=' + data.orderId;
                        }, 3000);
                    }else if(data.status == "not balance"){
                        console.log("wallet have not the enogh balance",data.balance);
                        Swal.fire({
                            icon: 'error',
                            title: 'Order Failed',
                            text: 'Your wallet have not the balance to Purchase. Please purchase Under :'+data.balance,
                            background: '#ffcccc',
                            timer: 3000, // Show for 3 seconds
                            showConfirmButton: true,
                            customClass: {
                              popup: 'error-popup', // Define a custom CSS class for styling
                              title: 'error-title', // Define custom CSS class for title styling
                              content: 'error-text' // Define custom CSS class for text content styling
                            }
                        });
                    
                    }
                })
                .catch(error => console.error('Error sending data to the server:', error));
        }
    </script>

    <script>
        // Assuming you have an API endpoint for updating the cart
        function useCoupon(coupon, total) {
            console.log("<<>>",coupon,total);
            fetch(`/useCoupon?id=${coupon}&total=${total}`)
                .then(response => response.json())
                .then(response => {
                    console.log('iam response : ', response);
                    if (response.isUse) {
                        console.log("The coupon used once ..!");
                        document.getElementById('errormsg_coupon').innerHTML = 'Coupon not valid..!'

                        setTimeout(function () {
                            document.getElementById('errormsg_coupon').innerHTML = ''
                        }, 3000)
                    }else if(response.isExpired){

                        document.getElementById('errormsg_coupon').innerHTML = 'Coupon expired...!'

                        setTimeout(function () {
                            document.getElementById('errormsg_coupon').innerHTML = ''
                        }, 3000)
                    }else if(response.isValid){
                        document.getElementById('errormsg_coupon').innerHTML = 'Coupon Not Valid...!'

                        setTimeout(function () {
                            document.getElementById('errormsg_coupon').innerHTML = ''
                        }, 3000)
                    }
                    else {
                        const Total = response.totalAmountAfterDeduction;
                        const coupon = response.couponDetails;
                        const discoundAmount = response.discount
                        const discoundType = coupon.discountType
                        const couponId = coupon.couponCode
                        let discIcon ;
                        if(discoundType == 'fixed'){
                            discIcon =' '
                        }else{
                            discIcon = '%'
                        }

                        console.log(Total, coupon);

                        const totalAmount = document.querySelector('#totalPrice')
                        const appliedCoupon = document.querySelector('#appliedCoupon')
                        const appliedCouponDiscount = document.querySelector('#appliedCouponDiscount')
                        const discAmount = document.getElementById('discoundAmount')
                        const discoundTypeSpan = document.getElementById('discountType')
                        
                        totalAmount.textContent = Total
                        appliedCoupon.textContent = coupon.couponCode
                        appliedCouponDiscount.textContent = "Offer :"+ coupon.discount
                        discAmount.innerText = "-"+discoundAmount
                        discoundTypeSpan.textContent =discIcon

                        document.getElementById('couponId').value = couponId;
                    }

                })
                .catch(error => console.error("Error:", error));
        }

        const getCoupon = document.getElementById('getCoupon')

        getCoupon.addEventListener('click', function () {

            const coupon = document.getElementById('couponCode').value
            const totalAmount = document.getElementById('totalAmount').value
            console.log("COUPON >> ", coupon);

            useCoupon(coupon, totalAmount)
        });

    </script>


    <!-- coupon modal -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            function openCouponModal() {
                // http://localhost:5000/loadCouponDetails
                fetch(`/loadCouponDetails`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Failed to fetch coupon details')
                        }
                        return response.json()
                    })
                    .then(data => {
                        console.log(data);
                        clearModalBody(); // Clear modal body before populating with new data
                        populateEditCouponForm(data);
                        $('#viewCouponModal').modal('show');
                    })
                    .catch(error => console.error('Error fetching coupon details:', error))
            }

            function clearModalBody() {
                const modalBody = document.querySelector('.modal-body');
                modalBody.innerHTML = ''; // Clear innerHTML to remove all existing content
            }

            function populateEditCouponForm(couponDetails) {
                const modalBody = document.querySelector('.modal-body');

                couponDetails.forEach(coupon => {
                    const couponDiv = document.createElement('div');
                    couponDiv.classList.add('couponDiv');

                    const label = document.createElement('label');
                    label.classList.add('form-label');

                    const couponCodeParagraph = document.createElement('div');
                    couponCodeParagraph.style.fontWeight = '600';
                    couponCodeParagraph.textContent = coupon.couponCode;

                    const couponNameParagraph = document.createElement('div');
                    couponNameParagraph.classList.add('coupon-name');
                    couponNameParagraph.textContent = coupon.name;

                    const discountTypeParagraph = document.createElement('div');
                    discountTypeParagraph.classList.add('discount-type');
                    if (coupon.discountType == "fixed") {
                        discountTypeParagraph.textContent = "Cash Back";
                    } else {
                        discountTypeParagraph.textContent = "%";
                    }

                    const discountParagraph = document.createElement('div');
                    discountParagraph.classList.add('discount');
                    discountParagraph.textContent = coupon.discount;

                    const filterDate = new Date(coupon.expireDate).toLocaleDateString('en-US', { year: 'numeric', month: '2-digit', day: '2-digit' })

                    const expireDateParagraph = document.createElement('div');
                    expireDateParagraph.classList.add('expireDateParagraph');
                    expireDateParagraph.textContent = filterDate;

                    couponDiv.appendChild(label);
                    couponDiv.appendChild(couponCodeParagraph);
                    couponDiv.appendChild(couponNameParagraph);
                    couponDiv.appendChild(discountTypeParagraph);
                    couponDiv.appendChild(discountParagraph);
                    couponDiv.appendChild(expireDateParagraph);

                    // Append coupon container to modal body
                    modalBody.appendChild(couponDiv);

                    // Create and append instruction paragraph
                    const instructionParagraph = document.createElement('div');
                    instructionParagraph.classList.add('instructionDiv');
                    instructionParagraph.textContent = coupon.instruction;

                    // Append instruction paragraph to modal body
                    modalBody.appendChild(instructionParagraph);

                });
            }

            const openModal = document.getElementById('couponModalButton');
            openModal.addEventListener('click', function (event) {
                console.log("couponModalButton INVOKED");
                event.preventDefault();
                openCouponModal();
            });
        });
    </script>


    <!-- Razo Pay -->

    <script>
        var orderId;
            $(document).ready(function () {
                var settings = {
                    "url": "/create/orderId",
                    "method": "POST",
                    "timeout": 0,
                    "headers": {
                    "Content-Type": "application/json"
                    },
                    "data": JSON.stringify({
                        "amount": "40000"
                    }),
                };
                        //creates new orderId everytime

                        $.ajax(settings).done(function (response) {

                            orderId = response.orderId;
                            console.log(orderId);
                            $("button").show();

                        })
                    })

        // document.getElementById('rzp-button1').onclick = function(e){
            function invokeRazorpay(order,newOrder){
                console.log("The passed data reached inside the invokeRazorpay function",order,newOrder);
            var options = {
                "key": 'rzp_test_aQoUPmlpqS8vSL', // Enter the Key ID generated from the Dashboard
                "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                "currency": "INR",
                "name": "veloxAttire",
                "description": "Test Transaction",
                "image": "/assets/images/Group 7.png",
                "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                "handler": function (response){
                    console.log("verifyPayment > : ",response,newOrder);
                    fetch("/verifyPayment", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({response:response,newOrder:newOrder})
            })
            .then(response => response.json())
            .then(data => {
                
                if (data.status === 'RazorPay') {
                    Swal.fire({
                        icon: 'success',
                        title: 'Order Successful!',
                        text: 'Your order has been placed successfully.',
                        timer: 3000, // Show for 3 seconds
                        showConfirmButton: false,
                    });
                    console.log('Data sent to the server:', data)
                    //  Redirect to confirmation page after 3 seconds
                    setTimeout(() => {
                        window.location.href = '/confirmation_Order_page?id=' + data.orderId;
                    }, 3000);
                    
                    }
            })
            .catch(error => {
                console.error('Error:', error);
            });
            
            },
            "theme": {
                "color": "#ffff",
            }
            };

            var rzp1 = new Razorpay(options);

            rzp1.on('payment.failed', function (response){
                    // alert(response.error.code);
                    // alert(response.error.description);
                    // alert(response.error.source);
                    // alert(response.error.step);
                    // alert(response.error.reason);
                    // alert(response.error.metadata.order_id);
                    // alert(response.error.metadata.payment_id);

                    // Swal.fire({
                    //     icon: 'error',
                    //     title: 'Payment Failed',
                    //     text: 'Please try again later.'+response.error.reason,
                    //     confirmButtonText: 'Try Later',
                    //     customClass: {
                    //       icon: 'swal-icon payment-failed' // Applying custom icon color
                    //     }
                    // });
            });

            rzp1.open();
                e.preventDefault();
            }
        
    </script>

    
<script>
    function address_Validation(){
        console.log("Address_Validion function invoked ");
        var F_name = document.getElementById('first').value;
        var L_name = document.getElementById('last').value;
        var phoneNumber = document.getElementById('number').value;
        var email = document.getElementById('email').value;
        var Country = document.getElementById('Country').value
        var State = document.getElementById('State').value
        var District = document.getElementById('District').value
        var add1 = document.getElementById('add1').value
        var add2 = document.getElementById('add2').value
        var city = document.getElementById('city').value
        var pincode = document.getElementById('pincode').value
        
        const emailRegex = /^[a-zA-Z0-9._%+-]+@gmail\.[a-zA-Z]{2,4}$/;
        
        if(!/^[a-zA-Z][a-zA-Z0-9]*$/.test(F_name)){
            document.getElementById('F_name').innerHTML ="Please Enter a Valid Name"
            setTimeout(function() {
                document.getElementById('F_name').innerHTML = "";
            }, 3000);

            return false
        }else if (!/^[a-zA-Z][a-zA-Z0-9]*$/.test(L_name)) {
            document.getElementById('F_name').innerHTML ="Please Enter a Valid Name Last name"
            setTimeout(function() {
                document.getElementById('F_name').innerHTML = "";
            }, 3000);

            return false
        }else if(!/^\d+$/.test(phoneNumber)){
            document.getElementById('F_name').innerHTML ="Please Enter a  valid Phone Number"
            setTimeout(function() {
                document.getElementById('F_name').innerHTML = "";
            }, 3000);
            return false
        }else if(phoneNumber.length !== 10){
            document.getElementById('F_name').innerHTML = "Enter a Valid Phone Number"
            setTimeout(function() {
                document.getElementById('F_name').innerHTML = "";
            }, 3000);
            return false
        }else if(/^(\d)\1+$/.test(phoneNumber)){
            document.getElementById('F_name').innerHTML = "Invalid mobile number. It should not consist of the same digit."
            setTimeout(function() {
                document.getElementById('F_name').innerHTML = "";
            }, 3000);
            return false
        }else if(!emailRegex.test(email)){
            document.getElementById('F_name').innerHTML = "Write a valid email"
            
            setTimeout(function() {
                document.getElementById('F_name').innerHTML = "";
            }, 3000);
            return false
        }
        else if(!Country){
            document.getElementById('F_name').innerHTML = "Write a Country name"
            
            setTimeout(function() {
                document.getElementById('F_name').innerHTML = "";
            }, 3000);
            return false
        }
        else if(!State){
            document.getElementById('F_name').innerHTML = "Write a State"
            
            setTimeout(function() {
                document.getElementById('F_name').innerHTML = "";
            }, 3000);
            return false
        }
        else if(!District){
            document.getElementById('F_name').innerHTML = "Write a District"
            
            setTimeout(function() {
                document.getElementById('F_name').innerHTML = "";
            }, 3000);
            return false
        }
        else if(!add1){
            document.getElementById('F_name').innerHTML = "Write a add1 "
            
            setTimeout(function() {
                document.getElementById('F_name').innerHTML = "";
            }, 3000);
            return false
        }
        else if(!add2){
            document.getElementById('F_name').innerHTML = "Write a add2"
            
            setTimeout(function() {
                document.getElementById('F_name').innerHTML = "";
            }, 3000);
            return false
        }
        else if(!city){
            document.getElementById('F_name').innerHTML = "Write a city "
            
            setTimeout(function() {
                document.getElementById('F_name').innerHTML = "";
            }, 3000);
            return false
        }
        else if(!pincode){
            document.getElementById('F_name').innerHTML = "Write a pincode "
            
            setTimeout(function() {
                document.getElementById('F_name').innerHTML = "";
            }, 3000);
            return false
        }
        else{
            return true
        }

    }


</script>

</body>

</html>