<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>veloxAttire</title>
    <link rel="icon" href="/assets/images/Group 7.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <!-- nice select CSS -->
    <link rel="stylesheet" href="css/nice-select.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="css/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/price_rangs.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- custom CSS -->
    <link rel="stylesheet" href="css/added.css">

        <!-- font awesom  -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>

<body>
    <!--::header part start::-->
    <header class="main_menu home_menu">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="index.html"> <img src="/assets/images/Group 7.png" alt="logo"> </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="menu_icon"><i class="fas fa-bars"></i></span>
                        </button>

                        <div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="/">Home</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown_1"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Shop
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_1">
                                        <a class="dropdown-item" href="/loadSearchProduct"> shop category</a>
                                    </div>
                                </li>
                                
                            </ul>
                        </div>
                        <div class="hearer_icon d-flex">
                            <a id="search_1" href="javascript:void(0)"><i class="ti-search"></i></a>
                            <a href="/loadWhishList"><i class="fa-regular fa-heart" style="color: red;"></i></a>
                            <div class="dropdown car">
                                <a href="/Cart"><i class="fa-solid fa-cart-shopping fa-bounce" style="color: rgb(255, 106, 0);"></i></a>
                                <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <div class="single_product">
    
                                    </div>
                                </div> -->

                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div>
            <div class="container ">
                <!-- <form class="d-flex justify-content-between search-inner" id="searchFormheader">
                    <input type="text" class="form-control" id="search_input" placeholder="Search Here">
                    <button type="submit" class="btn"></button>
                    <span class="ti-close" id="close_search" title="Close Search"></span>
                </form> -->

            </div>
        </div>
    </header>

    <!-- <form id="searchFormfilter" class="d-flex justify-content-between search-inner">
        <input type="text" class="form-control" id="search_input" placeholder="search"
            aria-describedby="inputGroupPrepend">
        <button  type="submit" class="btn"></button>
        <div class="input-group-prepend">
            <span  class="input-group-text" id="inputGroupPrepend"><i
                    class="ti-search"></i></span>
        </div>
    </form> -->
    <!-- Header part end-->

    <!--================Home Banner Area =================-->
    <!-- breadcrumb start-->
    <!-- <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                            <h2>Shop Category</h2>
                            <p>Home <span>-</span> Shop Category</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- breadcrumb start-->

    <!--================Category Product Area =================-->
    <section class="cat_product_area section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="left_sidebar_area">
                        <aside class="left_widgets p_filter_widgets">
                            <div class="l_w_title">
                                <h3>Browse Categories</h3>
                            </div>
                            <div class="widgets_inner">
                                <ul class="list">
                                    <% if(category){ %>
                                        <% category.forEach(item=> { %>
                                            <% if(!item.IsList){ %>
                                                <li>
                                                    <a onclick="filter('<%=item.Name %>','fromCategory')">
                                                        <%= item.Name %>
                                                    </a>
                                                    <!-- <span>(250)</span> -->
                                                </li>
                                                <% } %>
                                                    <% }) %>
                                                        <% } %>
                                </ul>
                            </div>
                        </aside>

                        <aside class="left_widgets p_filter_widgets">
                            <div class="l_w_title">
                                <!-- <h3>Product filters</h3> -->
                            </div>
                            <div class="widgets_inner" style="border-bottom: 1px dotted rgba(89, 89, 89, 0.6);">
                                <!-- <ul class="list">
                                    <li>
                                        <a href="#">Apple</a>
                                    </li>
                                    <li>
                                        <a href="#">Asus</a>
                                    </li>
                                    <li class="active">
                                        <a href="#">Gionee</a>
                                    </li>
                                    <li>
                                        <a href="#">Micromax</a>
                                    </li>
                                    <li>
                                        <a href="#">Samsung</a>
                                    </li>
                                </ul>
                                <ul class="list">
                                    <li>
                                        <a href="#">Apple</a>
                                    </li>
                                    <li>
                                        <a href="#">Asus</a>
                                    </li>
                                    <li class="active">
                                        <a href="#">Gionee</a>
                                    </li>
                                    <li>
                                        <a href="#">Micromax</a>
                                    </li>
                                    <li>
                                        <a href="#">Samsung</a>
                                    </li>
                                </ul> -->
                            </div>
                        </aside>

                        <!-- <aside class="left_widgets p_filter_widgets">
                            <div class="l_w_title">
                                <h3>Color Filter</h3>
                            </div>
                            <div class="widgets_inner">
                                <ul class="list">
                                    <li>
                                        <a href="#">Black</a>
                                    </li>
                                    <li>
                                        <a href="#">Black Leather</a>
                                    </li>
                                    <li class="active">
                                        <a href="#">Black with red</a>
                                    </li>
                                    <li>
                                        <a href="#">Gold</a>
                                    </li>
                                    <li>
                                        <a href="#">Spacegrey</a>
                                    </li>
                                </ul>
                            </div>
                        </aside> -->

                        <!-- <aside class="left_widgets p_filter_widgets price_rangs_aside">
                            <div class="l_w_title">
                                <h3>Price Filter</h3>
                            </div>
                            <div class="widgets_inner">
                                <div class="range_item"> -->
                        <!-- <div id="slider-range"></div> -->
                        <!-- <input type="text" class="js-range-slider" value="" />
                                    <div class="d-flex">
                                        <div class="price_text">
                                            <p>Price :</p>
                                        </div>
                                        <div class="price_value d-flex justify-content-center">
                                            <input type="text" class="js-input-from" id="amount" readonly />
                                            <span>to</span>
                                            <input type="text" class="js-input-to" id="amount" readonly />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </aside> -->
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product_top_bar d-flex justify-content-between align-items-center">
                                <div class="single_product_menu">
                                    <% if(products){ %>
                                        <p><span>
                                                <%= products.length %>
                                            </span> Product Found</p>
                                        <% }else{ %>
                                            <p><span>0 </span> Prodict Found</p>
                                            <% } %>

                                </div>

                                <!-- search section -->
                                <div class="single_product_menu d-flex">
                                    <div class="input-group" style="display: flex;">
                                        <form action="#" id="searchFormheader">
                                            <div class="input-group-prepend">
                                                <input type="text" id="search_input_header" class="form-control"
                                                placeholder="search" aria-describedby="inputGroupPrepend">
                                                <span class="input-group-text" id="inputGroupPrepend"><i
                                                        class="ti-search"></i></span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!-- search section end-->

                                <div class="single_product_menu d-flex">
                                    <h5>short by : </h5>
                                    <select>
                                        <option data-display="Select">name</option>
                                        <option value="1">price</option>
                                        <option value="2">product</option>
                                    </select>
                                </div>
                                <!-- <div class="single_product_menu d-flex">
                                    <h5>show :</h5>
                                    <div class="top_pageniation">
                                        <ul>
                                            <li>1</li>
                                            <li>2</li>
                                            <li>3</li>
                                        </ul>
                                    </div>
                                </div> -->

                                

                            </div>
                        </div>
                    </div>

                    <div id="latestProducts" class="row align-items-center latest_product_inner">
                        <% if(products){ %>
                            <% products.forEach(product=> { %> <!-- Change 'item' to 'product' -->
                                <div class="col-lg-4 col-sm-6" >
                                        <div class="single_product_item">
                                            <% if (!product.Stock> 0) { %>
                                                <p style="padding: 0px 7px; border-radius: 14px 0px; background-color: red; color: white; font-weight: 200; font-size: 10px; position: absolute;"> Out Of Stock</p>
                                            <% } %>
                                            <a href="/ProductDetails?id=<%= product._id %>">
                                            <img class="product-image" src="/assets/uploads/<%= product.Image[0] %>" alt="">
                                            </a>
                                            <div class="single_product_text">
                                                <!-- <a id="heart" href="/addToWhishList?id=<%= product._id %>"><i  class="ti-heart"></i></a> -->
                                                <% if(whishList) {%>
                                                    <% whishList.Product.some(elements =>{ %>
                                                    <% }) %>
                                                    <% if(whishList.Product.some(element => element.ProductId.equals(product._id.toString()))){ %>
                                                        <a id="heart" href="/addToWhishList?id=<%= product._id %>"><i class="fa-solid fa-heart"  style="color: red;"></i></a>
                                                    <% } else { %>
                                                        <a id="heart" href="/addToWhishList?id=<%= product._id %>"><i class="ti-heart"></i></a>
                                                    <% } %>
                                            <% }else{ %>
                                                <a id="heart" href="/addToWhishList?id=<%= product._id %>"><i class="ti-heart"></i></a>
                                            <% } %>
                                            
                                                <h4><%= product.Name %></h4>
                                                <h3><%= product.Price %></h3>
                                                <a href="/AddToCart?id=<%= product._id %>" class="add_cart">+ add to cart</a>
                                                <a id="heart"><i  class="ti-heart" style="color: transparent;"></i></a>
                                                
                                            </div>
                                        </div>
                                </div>
                            <% }) %>
                        <% } %>
                                        <!-- <div class="col-lg-4 col-sm-6">
                            <div class="single_product_item">
                                <img src="img/product/product_2.png" alt="">
                                <div class="single_product_text">
                                    <h4>Quartz Belt Watch</h4>
                                    <h3>$150.00</h3>
                                    <a href="#" class="add_cart">+ add to cart<i class="ti-heart"></i></a>
                                </div>
                            </div>
                        </div> -->

                                        <div class="col-lg-12">
                                            <div class="pageination">
                                                <nav aria-label="Page navigation example">
                                                    <ul class="pagination justify-content-center" id="pagination">

                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                        
                                        
                                        <!-- PAGINATION -->
                                        <% if(totalPages) { %>
                                            <div class="col-lg-12 " id="" >
                                                <div class="pageination">
                                                    <nav aria-label="Page navigation example">
                                                        <ul class="pagination justify-content-center">
                                                            <li class="page-item">
                                                                <a class="page-link" href="#" aria-label="Previous">
                                                                    <i class="ti-angle-double-left"></i>
                                                                </a>
                                                            </li>
                                                            <% for(let i=1; i <=totalPages ; i++ ){ %>
                                                                <li class="page-item"><a
                                                                        href="/loadSearchProduct?query=<%= query %>&page=<%= i %>"
                                                                        class="page-link">
                                                                        <%= i %>
                                                                    </a></li>
                                                                <% } %>
                                                                    <li class="page-item">
                                                                        <a class="page-link" href="#" aria-label="Next">
                                                                            <i class="ti-angle-double-right"></i>
                                                                        </a>
                                                                    </li>
                                                        </ul>
                                                    </nav>
                                                </div>
                                            </div>
                                            <% } %>

                    </div>
                    <div id="paginationDiv">

                    </div>
                    <div id="paginationDiv_category"></div>
                </div>
            </div>
        </div>

    </section>
    <!-- ================End Category Product Area =================-->

    <!-- product_list part start-->
    <section class="product_list best_seller">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="section_tittle text-center">
                        <h2>Best Sellers <span>shop</span></h2>
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-12">
                    <div class="best_product_slider owl-carousel">
                        <!-- <div class="single_product_item">
                            <img src="img/product/product_1.png" alt="">
                            <div class="single_product_text">
                                <h4>Quartz Belt Watch</h4>
                                <h3>$150.00</h3>
                            </div>
                        </div> -->



                        <% if(allProducts){ %>

                            <% allProducts.forEach(product=> { %> <!-- Change 'item' to 'product' -->
                                <a href="/ProductDetails?id=<%= product._id %>">
                                    <div class="single_product_item">
                                        <% if (!product.Stock> 0) { %>
                                            <p
                                                style="padding: 0px 7px; border-radius: 14px 0px; background-color: red; color: white; font-weight: 200; font-size: 10px; position: absolute;">
                                                Out Of Stock</p>
                                            <% } %>
                                                <img class="product-image" src="/assets/uploads/<%= product.Image[0] %>"
                                                    alt=""> <!-- Change 'item' to 'product' -->
                                                <div class="single_product_text">
                                                    <h4>
                                                        <%= product.Name %>
                                                    </h4>
                                                    <h3>$<%= product.Price %>
                                                    </h3>
                                                    <a href="#" class="add_cart">+ add to cart<i
                                                            class="ti-heart"></i></a>
                                                </div>
                                    </div>
                                </a>
                                <% }) %>
                                    <% } %>

                                        <!-- <div class="single_product_item">
                            <img src="img/product/product_2.png" alt="">
                            <div class="single_product_text">
                                <h4>Quartz Belt Watch</h4>
                                <h3>$150.00</h3>
                            </div>
                        </div>
                        <div class="single_product_item">
                            <img src="img/product/product_3.png" alt="">
                            <div class="single_product_text">
                                <h4>Quartz Belt Watch</h4>
                                <h3>$150.00</h3>
                            </div>
                        </div> -->
                                        <!-- <div class="single_product_item">
                            <img src="img/product/product_4.png" alt="">
                            <div class="single_product_text">
                                <h4>Quartz Belt Watch</h4>
                                <h3>$150.00</h3>
                            </div>
                        </div>
                        <div class="single_product_item">
                            <img src="img/product/product_5.png" alt="">
                            <div class="single_product_text">
                                <h4>Quartz Belt Watch</h4>
                                <h3>$150.00</h3>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- product_list part end-->



    <!--::footer_part start::-->
    <footer class="footer_part">
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-sm-6 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Top Products</h4>
                        <ul class="list-unstyled">
                            <li><a href="">Managed Website</a></li>
                            <li><a href="">Manage Reputation</a></li>
                            <li><a href="">Power Tools</a></li>
                            <li><a href="">Marketing Service</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Quick Links</h4>
                        <ul class="list-unstyled">
                            <li><a href="">Jobs</a></li>
                            <li><a href="">Brand Assets</a></li>
                            <li><a href="">Investor Relations</a></li>
                            <li><a href="">Terms of Service</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Features</h4>
                        <ul class="list-unstyled">
                            <li><a href="">Jobs</a></li>
                            <li><a href="">Brand Assets</a></li>
                            <li><a href="">Investor Relations</a></li>
                            <li><a href="">Terms of Service</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Resources</h4>
                        <ul class="list-unstyled">
                            <li><a href="">Guides</a></li>
                            <li><a href="">Research</a></li>
                            <li><a href="">Experts</a></li>
                            <li><a href="">Agencies</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="single_footer_part">
                        <h4>Newsletter</h4>
                        <p>Heaven fruitful doesn't over lesser in days. Appear creeping
                        </p>
                        <div id="mc_embed_signup">
                            <form target="_blank"
                                action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                method="get" class="subscribe_form relative mail_part">
                                <input type="email" name="email" id="newsletter-form-email" placeholder="Email Address"
                                    class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = ' Email Address '">
                                <button type="submit" name="submit" id="newsletter-submit"
                                    class="email_icon newsletter-submit button-contactForm">subscribe</button>
                                <div class="mt-10 info"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="copyright_part">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="copyright_text">
                            ----------------------------------
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="footer_icon social_icon">
                            <ul class="list-unstyled">
                                <li><a href="#" class="single_social_icon"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" class="single_social_icon"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" class="single_social_icon"><i class="fas fa-globe"></i></a></li>
                                <li><a href="#" class="single_social_icon"><i class="fab fa-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--::footer_part end::-->

    <!-- jquery plugins here-->
    <script src="js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="js/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="js/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <!-- slick js -->
    <script src="js/slick.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/contact.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="js/stellar.js"></script>
    <script src="js/price_rangs.js"></script>
    <!-- custom js -->
    <script src="js/custom.js"></script>

    <script>
        function searchInput(query, page) {
            event.preventDefault();
            const latestProducts = document.getElementById('latestProducts')
            const paginationContainer = document.getElementById('paginationDiv')

            const searchInputValue = document.getElementById('search_input_header').value;

            let fetchUrl = `/searchInput?query=${encodeURIComponent(searchInputValue)}`;
            if (!searchInputValue) {
                
                fetchUrl = `/searchInput?query=${encodeURIComponent(query)}&page=${encodeURIComponent(page)}`;
            }
            
                fetch(fetchUrl, {
                    method: 'GET',
                
                })
                .then(response => response.json())
                .then(data => {
                    console.log("the response from searchInput :", data)
                    const product = data.products
                    const query = data.query

                    // Generate HTML based on JSON data
                    const productsHTML = product.map(product => `
                    <div class="col-lg-4 col-sm-6">
                                    <div class="single_product_item">
                                        <a href="/ProductDetails?id=${product._id}">
                                        <img class="product-image"  src="/assets/uploads/${product.Image[0]}" alt="">
                                        </a>
                                        <div class="single_product_text">
                                            <a id="heart" href="/addToWhishList?id=${product._id}"><i class="ti-heart"></i></a>
                                            <h4>${product.Name}</h4>
                                            <h3>${product.Price}</h3>
                                            <a href="/AddToCart?id=${product._id}" class="add_cart">+ add to cart</a>
                                            <a id="heart"><i  class="ti-heart" style="color: transparent;"></i></a>
                                        </div>
                                    </div>
                                </div>
                    `).join(''); // Join HTML strings into a single string

                    // const totalPages = Math.ceil(productTotal / productPerPage);
                    const totalPages = data.totalPages
                    console.log("totalpages :",totalPages);

                    function generatePaginationLinks(totalPages) {
                        const paginationContainer = document.getElementById('paginationDiv');
                        const query = data.query;
                    
                        let paginationHTML = `
                            <div class="col-lg-12" id="">
                                <div class="pageination">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination justify-content-center">
                                            <li class="page-item">
                                                <a class="page-link" href="#" aria-label="Previous">
                                                    <i class="ti-angle-double-left"></i>
                                                </a>
                                            </li>`;
                    
                        // Page number links
                        for (let i = 1; i <= totalPages; i++) {
                            paginationHTML += `
                                <li class="page-item">
                                    <a data-page="${i}" data-query="${query}" class="page-link getPage" id="getPage">
                                        ${i}
                                    </a>
                                </li>`;
                        }
                    
                        paginationHTML += `
                                            <li class="page-item">
                                                <a class="page-link" href="#" aria-label="Next">
                                                    <i class="ti-angle-double-right"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>`;
                    
                        paginationContainer.innerHTML = paginationHTML;
                    }

                generatePaginationLinks(totalPages);
                
                latestProducts.innerHTML = productsHTML

                })
                .catch(error => {
                    console.log("Error on searInput Fetch API : ", error);
                })
        }

        const searchForm = document.getElementById('searchFormheader')
        searchForm.addEventListener('submit', searchInput)
    </script>


    <script>
        function filter(input,page) {
            console.log("The params in Filter function : > ",input,page);
            const Input = input

            let fetchUrl = `/filterProducts?input=${encodeURIComponent(input)}&page=${encodeURIComponent(page)}`
            if(page == 'fromCategory'){
                console.log("fromCategory");
                fetchUrl = `/filterProducts?input=${encodeURIComponent(Input)}`
            }

            // const paginationContainer = document.getElementById('paginationDiv')

            fetch(fetchUrl, {
                method: 'POST',
                
            })
                .then(response => response.json())
                .then(data => {
                    const paginationContainer = document.getElementById('paginationDiv')
                    console.log("the response from filter :", data)
                    const product = data.products
                    // Generate HTML based on JSON data
                    const productsHTML = product.map(product => `
                    <div class="col-lg-4 col-sm-6">
                                    <div class="single_product_item">
                                        <img class="product-image"  src="/assets/uploads/${product.Image[0]}" alt="">
                                        <div class="single_product_text">
                                            <h4>${product.Name}</h4>
                                            <h3>${product.Price}</h3>
                                            <a href="#" class="add_cart">+ add to cart<i class="ti-heart"></i></a>
                                        </div>
                                    </div>
                                </div>
                    `).join(''); // Join HTML strings into a single string

                    const totalPages = data.totalPages
                    const query = data.query
                    console.log("Get on Filter APi response : ",totalPages,query);

                    function generatePaginationLinks(totalPages) {
                        const paginationContainer = document.getElementById('paginationDiv');
                        const query = data.query;
                    
                        let paginationHTML = `
                            <div class="col-lg-12" id="">
                                <div class="pageination">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination justify-content-center">
                                            <li class="page-item">
                                                <a class="page-link" href="#" aria-label="Previous">
                                                    <i class="ti-angle-double-left"></i>
                                                </a>
                                            </li>`;
                    
                        // Page number links
                        for (let i = 1; i <= totalPages; i++) {
                            paginationHTML += `
                                <li class="page-item">
                                    <a data-page="${i}" data-query="${query}" class="page-link getPageNumber" id="getPageNumber">
                                        ${i}
                                    </a>
                                </li>`;
                        }
                    
                        paginationHTML += `
                                            <li class="page-item">
                                                <a class="page-link" href="#" aria-label="Next">
                                                    <i class="ti-angle-double-right"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>`;
                    
                        paginationContainer.innerHTML = paginationHTML;
                    }

                generatePaginationLinks(totalPages);

                    latestProducts.innerHTML = productsHTML
                    
                })
                .catch(error => {
                    console.log("Error on searInput Fetch API : ", error);
                })
        }
    </script>

    <script>

    const paginationContainer = document.getElementById('paginationDiv');

    paginationContainer.addEventListener('click', function(event) {
        console.log("iiiiii");
    event.preventDefault();
    if (event.target.classList.contains('getPage')) {
        console.log("22222");
        const query = event.target.dataset.query;
        const page = event.target.dataset.page;
        console.log("It's from Under : ",query,page);
        searchInput(query, page);
    }
    });

    </script>

<script>
    const paginationContainer2 = document.getElementById('paginationDiv');

    paginationContainer2.addEventListener('click', function(event) {
        console.log("DDDD");
    event.preventDefault();
    if (event.target.classList.contains('getPageNumber')) {
        console.log("XXXX");
        const query = event.target.dataset.query;
        const page = event.target.dataset.page;
        console.log("It's from Under : ",query,page);

        filter(query,page)
    }
    });

    </script>

</body>

</html>