<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>veloxAttire</title>
    <link rel="icon" href="/assets/images/Group 7.png">
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
    <!-- animate CSS -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/assets/css/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- custom CSS -->
    <link rel="stylesheet" href="css/added.css">
    <!-- Bootsratp -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

        <!-- font awesom  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
            integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- sweet alert -->
    <!--  SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">

    <!--  SweetAlert2 JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    
</head>

<body>
    <!--::header part start::-->
    <header class="main_menu home_menu">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="home.ejs"> <img src="/assets/images/Group 7.png" alt="logo"> </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="menu_icon"><i class="fas fa-bars"></i></span>
                        </button>

                        <div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <!-- <a class="nav-link" href="home.ejs">Home</a>
                                    -->
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown_1"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Shop
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_1">
                                        <a class="dropdown-item" href="/loadSearchProduct"> shop category</a>
                                        <!-- <a class="dropdown-item" href="single-product.html">product details</a> -->
                                        
                                    </div>
                                </li>
                                <!-- <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown_3"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        pages
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_2">
                                        
                                        <a class="dropdown-item" href="tracking.html">tracking</a>
                                        <a class="dropdown-item" href="checkout.html">product checkout</a>
                                        <a class="dropdown-item" href="cart.html">shopping cart</a>
                                        <a class="dropdown-item" href="confirmation.html">confirmation</a>
                                        <a class="dropdown-item" href="elements.html">elements</a>
                                    </div>
                                </li> -->
                                <!-- <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown_2"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        blog
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_2">
                                        <a class="dropdown-item" href="blog.html"> blog</a>
                                        <a class="dropdown-item" href="single-blog.html">Single blog</a>
                                    </div>
                                </li> -->
                                
                                <!-- <li class="nav-item">
                                    <a class="nav-link" href="contact.html">Contact</a>
                                </li> -->
                            
                                <li class="nav-item dropdown ">
                                
                                    <% if(typeof Profile !== 'undefined'){ %>
                                        <a class="nav-link dropdown-toggle sign" href="login" id="navbarDropdown_2"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <%= Profile.name %>
                                        </a>
                                        </a>
                                    <% }else{ %>
                                    
                                        <a class="nav-link dropdown-toggle sign" href="login" id="navbarDropdown_2"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Sign in
                                    </a>

                                    <% } %>
                                
                                    
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_2">

                                        <% if(typeof Profile !== 'undefined'){ %>
                                            <a class="dropdown-item" href="UserProfile">
                                                <%= Profile.name %>
                                            </a>

                                            <a class="dropdown-item" href="logout">Logout</a>
                                            <a class="dropdown-item" href="LoadWallet">Wallet</a>


                                        <% }else{ %>
                                            
                                            <a class="dropdown-item" href="login"> Sign in</a>
                                        <a class="dropdown-item" href="Signup">Create Account</a>

                                        <% } %>


                                        
                                    </div>
                                </li>
                            </ul>.
                        </div>
                        <div class="hearer_icon d-flex" style="justify-content: space-between;">
                            <a id="search_1" href="javascript:void(0)"><i class="fa-solid fa-magnifying-glass"></i></a>
                            <a href="/loadWhishList"><i class="fa-regular fa-heart" style="color: red;"></i></a>
                            <div class="dropdown car">
                                <!-- <a class="dropdown-toggle" href="#" id="navbarDropdown3" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    
                                </a> -->
                                <a href="/Cart"><i class="fa-solid fa-cart-shopping fa-bounce" style="color: rgb(255, 106, 0);"></i></a>
                                <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <div class="single_product">
                                        <a href="/Cart">Cart</a>
                                    </div>
                                </div> -->

                            </div>
                        </div>
                        <div class="div" style=" margin-left: 1.5vw;">
                        <% if(typeof Profile !== 'undefined'){ %>
                            
                            <a href="/UserProfile"><i  style="color: rgb(255, 118, 94);" class="fa-solid fa-user fa-flip"></i></a>
                        <% }else{ %>
                            
                            <a href="/Signup"><i  style="color: rgb(255, 118, 94);" class="fa-solid fa-user fa-flip"></i></a>
                        <% } %>
                        
                        </div>
                        </div>
                        
                    </nav>
                </div>
            </div>
        </div>
        <div class="search_input" id="search_input_box">
            <div class="container ">
                <form id="searchForm" class="d-flex justify-content-between search-inner">
                    <input type="text" class="form-control" id="search_input" placeholder="Search Here">
                    <button  type="submit" class="btn"><i class="ti-search" style="color: white;"></i></button>
                    <span class="ti-close" id="close_search" title="Close Search"></span>
                </form>
            </div>
        </div>
        <% if (error && error.length > 0) { %>
                <p style="font-size: 5px;" id="error_msg_isBlock_middleware"> <%= error %></p>
                <% console.log("ha ha h ah a a") %>
        <% } %>
            
    </header>
    <!-- Header part end-->

    

    <!-- banner part start-->
    <section class="banner_part" >
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="banner_slider owl-carousel">
                        <div class="single_banner_slider">
                            <div class="row">
                                <div class="col-lg-5 col-md-8">
                                    <div class="banner_text">
                                        <div class="banner_text_iner">
                                            <h1>Stay Stylish, Stay You.</h1>
                                            <p style="font-family: Ink Free;" class="Banner_Head">Discover fashion that reflects the truest version of yourself.
                                                Embrace the power of style to tell your unique story every day</p>
                                            <!-- <p class="btn_2" >buy now</p> -->
                                            <a href="/loadSearchProduct" class="btn_2" style="z-index: 950; position: relative;">buy now</a>
                                        
                                        </div>
                                    </div>
                                </div>
                                <div class="banner_img d-none d-lg-block">
                                    <img class="home_banner" src="images/unsplash__y6hMz1pJC0.png" alt="">
                                </div>
                            </div>
                        </div><div class="single_banner_slider">
                            <div class="row">
                                <div class="col-lg-5 col-md-8">
                                    <div class="banner_text">
                                        <div class="banner_text_iner">
                                            <h1>Stay With Trend.</h1>
                                            <p style="font-family: Ink Free;" class="Banner_Head">Discover fashion that reflects the truest version of yourself.
                                                Embrace the power of style to tell your unique story every day</p>
                                                <a href="/loadSearchProduct" class="btn_2" style="z-index: 950; position: relative;">buy now</a>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="banner_img d-none d-lg-block">
                                    <img class="home_banner_2" src="images/Rectangle 5.png" alt="">
                                </div>
                            </div>
                        </div><div class="single_banner_slider">
                            <div class="row">
                                <div class="col-lg-5 col-md-8">
                                    <div class="banner_text">
                                        <div class="banner_text_iner">
                                            <h1>Stay Stylish, Stay You.</h1>
                                            <p style="font-family: Ink Free;" class="Banner_Head">Discover fashion that reflects the truest version of yourself.
                                                Embrace the power of style to tell your unique story every day</p>
                                                <a href="/loadSearchProduct" class="btn_2" style="z-index: 950; position: relative;">buy now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="banner_img d-none d-lg-block">
                                    <img class="home_banner"  src="images/unsplash__y6hMz1pJC0.png" alt="">
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="slider-counter"></div>
                    
                </div>
            </div>
        </div>
    </section>
    <!-- banner part start-->

    <script>
        function BuyNoww(){
            console.log("fhjdgf dhfksdfhks hfkkfdgfgsd fdsg fs f sdgfd");
        }
    </script>



    <!-- Ladies start-->
    <section class="product_list best_seller" style="">
        <div class="container" style=" padding: 20px; box-shadow: 3px 5px 27px rgb(255, 237, 203); border-radius: 10px;">
            <div class="row justify-content-center" style="">
                <h1 style="font-size: 2rem;">Best Sellers <span>shop</span></h1>
            </div>
            <div class="row align-items-center justify-content-between" >
                <div class="col-lg-12" >
                    <div class="best_product_slider owl-carousel" >
                        <% if(Product){ %>
                            <% Product.forEach(product => { %> <!-- Change 'item' to 'product' -->
                                
                                    <div class="single_product_item" >
                                        <% if (!product.Stock > 0) { %>
                                            <p style="padding: 0px 7px; border-radius: 14px 0px; background-color: red; color: white; font-weight: 200; font-size: 10px; position: absolute;">Out Of Stock</p>
                                        <% } %>
                                        <a href="/ProductDetails?id=<%= product._id %>" >
                                        <img class="product-image"  src="/assets/uploads/<%= product.Image[0] %>" alt=""></a>
                                        <div class="single_product_text" >
                                            <h4><%= product.Name %></h4>
                                            <h3>$<%= product.Price %></h3>
                                            <a  href="/AddToCart?id=<%= product._id %>" class="add_cart">+ add to cart</a>
                                            <% if(whishList) {%>
                                                    <% whishList.Product.some(elements =>{ %>
                                                    <% }) %>
                                                    <% if(whishList.Product.some(element => element.ProductId.equals(product._id.toString()))){ %>
                                                        <a id="heart" href="/addToWhishList?id=<%= product._id %>"><i class="fa-solid fa-heart"  style="color: red;"></i></a>
                                                    <% } else { %>
                                                        <a id="heart" href="/addToWhishList?id=<%= product._id %>"><i class="ti-heart"></i></a>
                                                    <% } %>
                                            <% }else{ %>
                                                <a id="heart" href="/addToWhishList?id=<%= product._id %>"><i class="ti-heart"></i></a>
                                            <% } %>
                                            
                                        </div>
                                    </div>
                                
                            <% }) %>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Best sellers end-->

        <!--  start-->
        <section class="product_list best_seller mt-5" >
            <div class="container" style=" padding: 20px; box-shadow: 3px 5px 27px rgb(255, 237, 203); border-radius: 10px;">
                <div class="row justify-content-center" style="">
                    <h1 style="font-size: 1.5rem;">Women </h1>
                </div>
                <div class="row align-items-center justify-content-between" >
                    <div class="col-lg-12" >
                        <div class="best_product_slider owl-carousel" >
                            <% if(Women){ %>
                                <% Women.forEach(product => { %> <!-- Change 'item' to 'product' -->
                                    
                                        <div class="single_product_item" >
                                            <% if (!product.Stock > 0) { %>
                                                <p style="padding: 0px 7px; border-radius: 14px 0px; background-color: red; color: white; font-weight: 200; font-size: 10px; position: absolute;">Out Of Stock</p>
                                            <% } %>
                                            <a href="/ProductDetails?id=<%= product._id %>" >
                                            <img class="product-image"  src="/assets/uploads/<%= product.Image[0] %>" alt=""></a>
                                            <div class="single_product_text" >
                                                
                                                <h4><%= product.Name %></h4>
                                                <h3>$<%= product.Price %></h3>
                                                
                                                <a href="/AddToCart?id=<%= product._id %>" class="add_cart">+ add to cart </a>
                                                <% if(whishList) {%>
                                                    <% whishList.Product.some(elements =>{ %>
                                                    <% }) %>
                                                    <% if(whishList.Product.some(element => element.ProductId.equals(product._id.toString()))){ %>
                                                        <a id="heart" href="/addToWhishList?id=<%= product._id %>"><i class="fa-solid fa-heart"  style="color: red;"></i></a>
                                                    <% } else { %>
                                                        <a id="heart" href="/addToWhishList?id=<%= product._id %>"><i class="ti-heart"></i></a>
                                                    <% } %>
                                            <% }else{ %>
                                                <a id="heart" href="/addToWhishList?id=<%= product._id %>"><i class="ti-heart"></i></a>
                                            <% } %>
                                                
                                            </div>
                                        </div>
                                    
                                <% }) %>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Best sellers end-->



    <!-- feature_part start-->
    <!-- <section class="feature_part padding_top" id="productDetails">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section_tittle text-center">
                        <h2>All Category</h2>
                    </div>
                </div>
            </div> -->
            <!-- <div class="row align-items-center justify-content-between"> -->
                
                <!-- <div class="product-container">
                    <% Product.forEach((product, index) => { %>
                        <div class="product-card">

                            <a href="/addToWhishList?id=<%= product._id %>"><i class="whishlist-icon fa-solid fa-heart fa-bounce" style="color: orange; font-size: 20px; display: none; position: absolute;"></i></a>

                            <div class="image_container">
                                <% if (!product.Stock > 0) { %>
                                    <p style="padding: 0px 7px; border-radius: 14px 0px; background-color: red; color: white; font-weight: 200; font-size: 10px; position: absolute;">Out Of Stock</p>
                                <% } %>
                                <img class="product-image" src="/assets/uploads/<%= product.Image[0] %>" alt="<%= product.Name %>">

                                
                            </div>
                            
                            <h6><%= product.Name %></h6>
                            <p><%= product.Description %></p>
                            <p>$<%= product.Price %></p>
                
                            <div >
                                
                                
                            </div>
                            
                            <a href="/ProductDetails?id=<%= product._id %>" class="feature_btn">EXPLORE NOW<img class="feature" src="/assets/icons/arrow-right-short.svg" alt=""></a>
                        </div>
                    <% }); %>
                </div> -->
                
                <!-- <script>
                    // Add event listeners for wishlist icon display
                    document.querySelectorAll('.product-card').forEach((card, index) => {
                        const wishlistIcon = card.querySelector('.whishlist-icon');
                        
                        card.addEventListener('mouseover', () => {
                            wishlistIcon.style.display = 'block';
                        });
                
                        card.addEventListener('mouseout', () => {
                            wishlistIcon.style.display = 'none';
                        });
                    });
                </script> -->
                
                
                <!-- <div class="col-lg-5 col-sm-6">
                    <div class="single_feature_post_text">
                        <p>hhhhhhhhhhhhhh</p>
                        <h3>gggggggggggggg</h3>
                        <a href="#" class="feature_btn">EXPLORE NOW <i class="fas fa-play"></i></a>
                        <img src="images/feature/feature_2.png" alt="">
                    </div>
                </div>
                
            </div> -->
        <!-- </div>
    </section> -->
    <!-- upcoming_event part start-->
    
    <!-- <section class="feature_part padding_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section_tittle text-center">
                        <h2>MEN</h2>
                    </div>
                </div>
            </div> -->
            <!-- <div class="row align-items-center justify-content-between"> -->
                
            <!-- <div class="product-container">
                
                <% Men.forEach(product => { %>
                    <div class="product-card">
                        <div class="image_container">
                            <img class="product-image" src="/assets/uploads/<%= product.Image[0] %>" alt="<%= product.Name %>">
                        </div>
                        <h6><%= product.Name %></h6>
                        <p><%= product.Description %></p>
                        <p>$<%= product.Price %></p>
                        <a href="/ProductDetails?id=<%= product._id %>" class="feature_btn">EXPLORE NOW <img class="feature" src="/assets/icons/arrow-right-short.svg" alt=""></a>
                    </div>
                <% }); %>
            </div>
        </div>
    </section> -->

    <!-- <section class="feature_part padding_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section_tittle text-center">
                        <h2>Women</h2>
                    </div>
                </div>
            </div> -->
            <!-- <div class="row align-items-center justify-content-between"> -->
                
            <!-- <div class="product-container">
                <% Women.forEach(product => { %>
                    <div class="product-card">
                        <div class="image_container">
                            <img class="product-image" src="/assets/uploads/<%= product.Image[0] %>" alt="<%= product.Name %>">
                        </div>
                        <h6><%= product.Name %></h6>
                        <p><%= product.Description %></p>
                        <p>$<%= product.Price %></p>
                        <a href="/ProductDetails?id=<%= product._id %>" class="feature_btn">EXPLORE NOW <img class="feature" src="/assets/icons/arrow-right-short.svg" alt=""></a>
                    </div>
                <% }); %>
            </div>
        </div>
    </section> -->

    <!-- <section class="feature_part padding_top">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section_tittle text-center">
                        <h2>Kids</h2>
                    </div>
                </div>
            </div> -->
            <!-- <div class="row align-items-center justify-content-between"> -->
                
            <!-- <div class="product-container">
                <% Kids.forEach(product => { %>
                    <div class="product-card">
                        <div class="image_container">
                            <img class="product-image" src="/assets/uploads/<%= product.Image[0] %>" alt="<%= product.Name %>">
                        </div>
                        <div class="product_details_continer">
                            <h6><%= product.Name %></h6>
                            <p><%= product.Description %></p>
                            <p>$<%= product.Price %></p>
                        </div>
                        <a href="/ProductDetails?id=<%= product._id %>" class="feature_btn">EXPLORE NOW <img class="feature" src="/assets/icons/arrow-right-short.svg" alt=""></a>
                    </div>
                <% }); %>
            </div> -->
        <!-- </div>
    </section> -->



    

    <!-- awesome_shop start-->
    <section class="our_offer section_padding">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-6 col-md-6">
                    <div class="offer_img">
                        <img src="images/Section → collection-item1.jpg.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="offer_text">
                        <h2>Weekly Sale on
                            60% Off All Products</h2>
                        <div class="date_countdown">
                            <div id="timer">
                                <div id="days" class="date"></div>
                                <div id="hours" class="date"></div>
                                <div id="minutes" class="date"></div>
                                <div id="seconds" class="date"></div>
                            </div>
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="enter email address"
                                aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <a href="#" class="input-group-text btn_2" id="basic-addon2">book now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- awesome_shop part start-->

    <!-- product_list part start-->
    <!-- <section class="product_list best_seller section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="section_tittle text-center">
                        <h2>Best Sellers <span>shop</span></h2>
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-12">
                    <div class="best_product_slider owl-carousel">
                        <div class="single_product_item">
                            <img src="images/product/product_1.png" alt="">
                            <div class="single_product_text">
                                <h4>Quartz Belt Watch</h4>
                                <h3>$150.00</h3>
                            </div>
                        </div>
                        <div class="single_product_item">
                            <img src="images/product/product_2.png" alt="">
                            <div class="single_product_text">
                                <h4>Quartz Belt Watch</h4>
                                <h3>$150.00</h3>
                            </div>
                        </div>
                        <div class="single_product_item">
                            <img src="images/product/product_3.png" alt="">
                            <div class="single_product_text">
                                <h4>Quartz Belt Watch</h4>
                                <h3>$150.00</h3>
                            </div>
                        </div>
                        <div class="single_product_item">
                            <img src="images/product/product_4.png" alt="">
                            <div class="single_product_text">
                                <h4>Quartz Belt Watch</h4>
                                <h3>$150.00</h3>
                            </div>
                        </div>
                        <div class="single_product_item">
                            <img src="images/product/product_5.png" alt="">
                            <div class="single_product_text">
                                <h4>Quartz Belt Watch</h4>
                                <h3>$150.00</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- product_list part end-->

    <!-- subscribe_area part start-->
    <section class="subscribe_area section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="subscribe_area_text text-center">
                        <h5>Join Our Newsletter</h5>
                        <h2>Subscribe to get Updated
                            with new offers</h2>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="enter email address"
                                aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <a href="#" class="input-group-text btn_2" id="basic-addon2">subscribe now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--::subscribe_area part end::-->

    <!-- subscribe_area part start-->
    <section class="client_logo padding_top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="single_client_logo">
                        <img src="images/client_logo/client_logo_1.png" alt="">
                    </div>
                    <div class="single_client_logo">
                        <img src="images/client_logo/client_logo_2.png" alt="">
                    </div>
                    <div class="single_client_logo">
                        <img src="images/client_logo/client_logo_3.png" alt="">
                    </div>
                    <div class="single_client_logo">
                        <img src="images/client_logo/client_logo_4.png" alt="">
                    </div>
                    <div class="single_client_logo">
                        <img src="images/client_logo/client_logo_5.png" alt="">
                    </div>
                    <div class="single_client_logo">
                        <img src="images/client_logo/client_logo_3.png" alt="">
                    </div>
                    <div class="single_client_logo">
                        <img src="images/client_logo/client_logo_1.png" alt="">
                    </div>
                    <div class="single_client_logo">
                        <img src="images/client_logo/client_logo_2.png" alt="">
                    </div>
                    <div class="single_client_logo">
                        <img src="images/client_logo/client_logo_3.png" alt="">
                    </div>
                    <div class="single_client_logo">
                        <img src="images/client_logo/client_logo_4.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--::subscribe_area part end::-->
    
    <!--::footer_part start::-->
    <footer class="footer_part">
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-sm-6 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Top Products</h4>
                        <ul class="list-unstyled">
                            <li><a href="">Managed Website</a></li>
                            <li><a href="">Manage Reputation</a></li>
                            <li><a href="">Power Tools</a></li>
                            <li><a href="">Marketing Service</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Quick Links</h4>
                        <ul class="list-unstyled">
                            <li><a href="">Jobs</a></li>
                            <li><a href="">Brand Assets</a></li>
                            <li><a href="">Investor Relations</a></li>
                            <li><a href="">Terms of Service</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Features</h4>
                        <ul class="list-unstyled">
                            <li><a href="">Jobs</a></li>
                            <li><a href="">Brand Assets</a></li>
                            <li><a href="">Investor Relations</a></li>
                            <li><a href="">Terms of Service</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Resources</h4>
                        <ul class="list-unstyled">
                            <li><a href="">Guides</a></li>
                            <li><a href="">Research</a></li>
                            <li><a href="">Experts</a></li>
                            <li><a href="">Agencies</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="single_footer_part">
                        <h4>Newsletter</h4>
                        <p>Heaven fruitful doesn't over lesser in days. Appear creeping
                        </p>
                        <div id="mc_embed_signup">
                            <form target="_blank"
                                action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                method="get" class="subscribe_form relative mail_part">
                                <input type="email" name="email" id="newsletter-form-email" placeholder="Email Address"
                                    class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = ' Email Address '">
                                <button type="submit" name="submit" id="newsletter-submit"
                                    class="email_icon newsletter-submit button-contactForm">subscribe</button>
                                <div class="mt-10 info"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="copyright_part">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="copyright_text">

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="footer_icon social_icon">
                            <ul class="list-unstyled">
                                <li><a href="#" class="single_social_icon"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" class="single_social_icon"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" class="single_social_icon"><i class="fas fa-globe"></i></a></li>
                                <li><a href="#" class="single_social_icon"><i class="fab fa-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--::footer_part end::-->
    
    
    <!-- jquery plugins here-->
    <script src="js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="js/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="js/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <!-- slick js -->
    <script src="js/slick.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/contact.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/mail-script.js"></script>
    <!-- custom js -->
    <script src="js/custom.js"></script>

    <!-- Bootstrap Script link -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <script>
        const buyNowButton = document.getElementById('buyNow')
        const productDetailsSection = document.getElementById('productDetails')

        buyNowButton.addEventListener('click',function(){
            productDetailsSection.scrollIntoView({ behavior: 'smooth' });
            console.log("invoked the buyNow buttun");
        })
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const button = document.getElementById('error_msg_isBlock_middleware')

            if(button){
                setTimeout(function(){
                    button.style.display = 'none'
                },3000)
                Swal.fire({
                        icon: 'error',
                        title: 'Admin restricted your actions ..!',
                        text: 'Please contact with the our customer service.',
                        timer: 3000, // Show for 3 seconds
                        showConfirmButton: false,
                    });
            }
        })
        
    </script>
    <script>

    function handleSearchFormSubmit(event) {
        console.log("The search input function invoked ");
        const searchInput = document.getElementById('search_input').value;

        fetch('/searchFromNavbar', {
            method:'POST',
            headers:{
                'Content-Type': 'application/json'
            },
            body:JSON.stringify({query:searchInput})
        })
        .then(Response => Response.json())
        .then(data => {
            console.log(data);
        
            // Redirect to the product page with the search results
        
            window.location.href = '/loadSearchProduct?query='+ encodeURIComponent(data.searchInput)
        
        })
        .catch(error => {
            console.log("Error on handleSearchFormSubmit",error);
        })

    }

    const searchForm = document.getElementById('searchForm');
    searchForm.addEventListener('submit', handleSearchFormSubmit);

    </script>

</body>

</html>