<% include('../Layout/header.ejs') %>

    <!DOCTYPE html>
    <html lang="en">

    <head>
        <title>ShopMax &mdash; Colorlib e-Commerce Template</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
        <link rel="stylesheet" href="fonts/icomoon/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
            integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/magnific-popup.css">
        <link rel="stylesheet" href="css/jquery-ui.css">
        <link rel="stylesheet" href="css/owl.carousel.min.css">
        <link rel="stylesheet" href="css/owl.theme.default.min.css">


        <link rel="stylesheet" href="css/aos.css">

        <link rel="stylesheet" href="css/style.css">

        <title>aranoz</title>
    <link rel="icon" href="images/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="css/all.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- custom CSS -->
    <link rel="stylesheet" href="css/added.css">
    <!-- Bootsratp -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">


        <style>
            body {
                background: rgb(255, 253, 251);
                margin-top: 20px;
            }

            .ui-w-80 {
                width: 80px !important;
                height: auto;
            }

            .btn-default {
                border-color: rgba(24, 28, 33, 0.1);
                background: rgba(0, 0, 0, 0);
                color: #4E5155;
            }

            label.btn {
                margin-bottom: 0;
            }

            .btn-outline-primary {
                border-color: #26B4FF;
                background: transparent;
                color: #26B4FF;
            }

            .btn {
                cursor: pointer;
            }

            .text-light {
                color: #babbbc !important;
            }

            .btn-facebook {
                border-color: rgba(0, 0, 0, 0);
                background: #3B5998;
                color: #fff;
            }

            .btn-instagram {
                border-color: rgba(0, 0, 0, 0);
                background: #000;
                color: #fff;
            }

            .card {
                background-clip: padding-box;
                box-shadow: 0 1px 4px rgba(24, 28, 33, 0.012);
            }

            .row-bordered {
                overflow: hidden;
            }

            .account-settings-fileinput {
                position: absolute;
                visibility: hidden;
                width: 1px;
                height: 1px;
                opacity: 0;
            }

            .account-settings-links .list-group-item.active {
                font-weight: bold !important;
            }

            html:not(.dark-style) .account-settings-links .list-group-item.active {
                background: transparent !important;
            }

            .account-settings-multiselect~.select2-container {
                width: 100% !important;
            }

            .light-style .account-settings-links .list-group-item {
                padding: 0.85rem 1.5rem;
                border-color: rgba(24, 28, 33, 0.03) !important;
            }

            .light-style .account-settings-links .list-group-item.active {
                color: #4e5155 !important;
            }

            .material-style .account-settings-links .list-group-item {
                padding: 0.85rem 1.5rem;
                border-color: rgba(24, 28, 33, 0.03) !important;
            }

            .material-style .account-settings-links .list-group-item.active {
                color: #4e5155 !important;
            }

            .dark-style .account-settings-links .list-group-item {
                padding: 0.85rem 1.5rem;
                border-color: rgba(255, 255, 255, 0.03) !important;
            }

            .dark-style .account-settings-links .list-group-item.active {
                color: #fff !important;
            }

            .light-style .account-settings-links .list-group-item.active {
                color: #4E5155 !important;
            }

            .light-style .account-settings-links .list-group-item {
                padding: 0.85rem 1.5rem;
                border-color: rgba(24, 28, 33, 0.03) !important;
            }
            #mian_part{
                margin-top: 10vw;
                max-width: 900vw;
                box-shadow: none !important;
                border: none !important;
            }
            .list-group .a :hover{
                cursor: pointer;
            }
            .Address_span{
            color: #000000;
            font-weight: bolder;
        }
        .Edibuttton{
            border: none;
            padding: 10px 20px;
            border-radius: 15px;
            border: 1px solid rgb(0, 183, 37);
            color: rgb(0, 183, 37);
            margin-bottom: 5px;
        }
        .Edibuttton:hover{
            background-color: rgb(0, 183, 37);
            color: rgb(255, 255, 255);
        }
        .addbuttton{
            margin-top: 1vw;
            padding: 10px 20px;
            border-radius: 15px;
            border: 1px solid  rgb(0, 119, 255);
            color: rgb(0, 119, 255);
            margin-left: 40px;
            transition: 3ms;
            position: relative;
            overflow: hidden;
        }
        .addbuttton::before{
            content: "";
            position: absolute;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background: linear-gradient(to right, transparent 0%, rgb(0, 38, 255) 100%);
            transition: left 0.3s ease-in-out;
            
        }
        .addbuttton:hover::before{
            
            left: 0;
        }
        .delete{
            border: none;
            padding: 10px 20px;
            border-radius: 15px;
            border: 1px solid rgb(238, 0, 0);
            color: rgb(238, 0, 0);
            margin-bottom: 5px;
            transition: 0.5s;
            /* transition: left 3s ease-in-out; */
            
        }
        .delete:hover{
            background-color: rgb(238, 0, 0);
            color: rgb(255, 255, 255);
        }
        </style>

    </head>

    <body>

         <!--::header part start::-->
    <header class="main_menu home_menu">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="home.ejs"> <img src="/assets/images/Group 7.png" alt="logo"> </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="menu_icon"><i class="fas fa-bars"></i></span>
                        </button>

                        <div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="/">Home</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown_1"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Shop
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_1">
                                        <a class="dropdown-item" href="category.html"> shop category</a>
                                        <a class="dropdown-item" href="single-product.html">product details</a>
                                        
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown_3"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        pages
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_2">
                                        
                                        <a class="dropdown-item" href="tracking.html">tracking</a>
                                        <a class="dropdown-item" href="checkout.html">product checkout</a>
                                        <a class="dropdown-item" href="cart.html">shopping cart</a>
                                        <a class="dropdown-item" href="confirmation.html">confirmation</a>
                                        <a class="dropdown-item" href="elements.html">elements</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown_2"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        blog
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_2">
                                        <a class="dropdown-item" href="blog.html"> blog</a>
                                        <a class="dropdown-item" href="single-blog.html">Single blog</a>
                                    </div>
                                </li>
                                
                                <li class="nav-item">
                                    <a class="nav-link" href="contact.html">Contact</a>
                                </li>
                                
                                
                                <li class="nav-item dropdown ">


                                    <!-- <% if(typeof Profile !== 'undefined'){ %>
                                        <a class="nav-link dropdown-toggle sign" href="login" id="navbarDropdown_2"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <%= Profile.name %>
                                        </a>
                                        </a>
                                    <% }else{ %>
                                    
                                        <a class="nav-link dropdown-toggle sign" href="login" id="navbarDropdown_2"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Sign in
                                    </a>

                                    <% } %> -->
                                
                                    
                                    <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown_2">

                                        <% if(typeof Profile !== 'undefined'){ %>
                                            <a class="dropdown-item" href="login">
                                                <%= Profile.name %>
                                            </a>

                                            <a class="dropdown-item" href="logout">Logout</a>

                                        <% }else{ %>
                                            
                                            <a class="dropdown-item" href="login"> Sign in</a>
                                        <a class="dropdown-item" href="Signup">Create Account</a>

                                        <% } %>


                                        
                                    </div> -->
                                </li>
                            </ul>.
                        </div>
                        <div class="hearer_icon d-flex">
                            <a id="search_1" href="javascript:void(0)"><i class="ti-search"></i></a>
                            <a href=""><i class="ti-heart"></i></a>
                            <div class="hearer_icon d-flex" style="justify-content: space-around; width: 180px;">
                                <a id="search_1" href="javascript:void(0)"><i class="ti-search"></i></a>
                                <a href=""><i class="ti-heart" style="color: orange;"></i></a>
                                <div class="dropdown cart">
                                    <!-- <a class="dropdown-toggle" href="#" id="navbarDropdown3" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        
                                    </a> -->
                                    <a href="/Cart"><i class="fa-solid fa-cart-shopping fa-bounce" style="color: rgb(255, 106, 0);"></i></a>
                                    <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <div class="single_product">
                                            <a href="/Cart">Cart</a>
                                        </div>
                                    </div> -->
    
                                </div>
                            </div>
                                <!-- <button type="button" class="btn" data-bs-toggle="dropdown" aria-expanded="false" >
                                    <img src="/assets/images/person-lines-fill.svg" alt="">
                                </button> -->
                                <!-- <ul class="dropdown-menu dropdown-menu-end">
                                    <% if(typeof Profile !== 'undefined'){ %>
                                        <li style="background-color: rgb(255, 14, 78); border-radius: 15px;"><a style=" text-decoration: none; padding: 0px 15px;" href="/UserProfile"><img src="/assets/images/person-lines-fill.svg" alt=""><button class="dropdown-item" type="button" style="color: white;">Profile</button></a></li>
                                    <% }else{ %>
                                        <li style="background-color: red; border-radius: 15px;"><a href="/Signup" style="text-decoration: none; "><button class="dropdown-item" type="button" style="color: white;">Sign Up</button></a></li>
                                    <% } %>
                                </ul> -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="search_input" id="search_input_box">
            <div class="container ">
                <form class="d-flex justify-content-between search-inner">
                    <input type="text" class="form-control" id="search_input" placeholder="Search Here">
                    <button type="submit" class="btn"></button>
                    <span class="ti-close" id="close_search" title="Close Search"></span>
                </form>
            </div>
        </div>
    </header>
    <!-- Header part end-->



        <div id="mian_part" class="container light-style flex-grow-1 border rounded container-p-y  w-75"
            style="background-color: rgb(255, 249, 235); box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.455);">

            <div class=" py-3 mb-4 display-6  ">
                <h2 style="font-size: 26px;"> User Profile</h2>
            </div>
            <div class="card overflow-hidden mb-5 border border-light">
                <div class="row no-gutters row-bordered row-border-light  ">
                    <div class="col-md-3 pt-0">
                        <div class="list-group list-group-flush account-settings-links">
                            <a id="bt1" class="list-group-item list-group-item-action " onclick="loadContent('Profile')">PROFILE</a>
                            <a class="list-group-item list-group-item-action " href="/Cart">CART</a>
                            <a id="bt3" class="list-group-item list-group-item-action" onclick="loadContent('Address')" >MANAGE ADDRESS</a>
                            <a id="bt2" class="list-group-item list-group-item-action"  onclick="loadContent('Edit_Profile')">Edit Profile</a>
                            <a id="bt2" class="list-group-item list-group-item-action"href="/LoadOrderManagment" >Orderes</a>
                            <!-- href="/Address" -->
                            <!-- <li class="list-group-item list-group-item-action" data-toggle="list" onclick="loadContent('user-details')">User Details</li>
                            <li class="list-group-item list-group-item-action" data-toggle="list" onclick="loadContent('addresses')">Addresses</li> -->
                            <!-- <li class="list-group-item list-group-item-action" data-toggle="list" onclick="loadContent('orders')">Orders</li>
                            <li class="list-group-item list-group-item-action" data-toggle="list" onclick="loadContent('add-address')">Add Address</li>
                            <li class="list-group-item list-group-item-action" data-toggle="list" onclick="loadContent('edit-profile')">Edit Profile</li>
                            <li class="list-group-item list-group-item-action" data-toggle="list" onclick="loadContent('cancel-orders')">Cancel Orders</li>
                            <li class="list-group-item list-group-item-action" data-toggle="list" onclick="loadContent('forgot-password')">Forgot Password</li>
                            <li class="list-group-item list-group-item-action" data-toggle="list" onclick="loadContent('cart-management')">Cart Management</li> -->

                            <!-- <a class="list-group-item list-group-item-action" data-toggle="list"
                        href="#account-social-links">Social links</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list"
                        href="#account-connections">Connections</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list"
                        href="#account-notifications">Notifications</a> -->
                        </div>
                    </div>

                    <div id="UserDetails" style="display: block;" class="col-md-9">
                        <div id="">
                            <div class="sub" style="padding: 20px; border: 3px solid rgb(255, 243, 219);">
                                <img  src="https://bootdey.com/img/Content/avatar/avatar1.png" alt class="d-block ui-w-80">
                                <h5 style="font-weight: bolder; padding-top: 1rem;"><%= User.name %></h5>
                                <p><%= User.email %></p>
                                <p>Ph No : <%= User.phoneNumber %></p>
                            </div>
                        </div>
                    </div>

                <div id="address" style="display: none;  border: 3px solid rgb(255, 243, 219);" class="col-md-9">
                    <a href="/Add_Address"><button class="addbuttton">Add Addrss</button></a>
                    <% if(typeof Address !== 'Undefined'){ %>
                    
                        <% Address.forEach(Address => { %>
                        
                            <div class="min_sub" style="padding: 2vw; ">
                                <p> <span class="Address_span"> First Name :</span> <%= Address.FirstName %> </p>
                                <p> <span class="Address_span"> Last Name :</span> <%= Address.LastName %> </p>
                                <p> <span class="Address_span">Phone Number :</span> <%= Address.PhoneNumber %> </p>
                                <p> <span class="Address_span">Email :</span> <%= Address.Email %> </p>
                                <p> <span class="Address_span"> Country :</span> <%= Address.Country %> </p>
                                <p> <span class="Address_span"> State :</span> <%= Address.State %> </p>
                                <p> <span class="Address_span"> District :</span> <%= Address.District %> </p>
                                <p> <span class="Address_span"> Address :</span> <%= Address.add1 %> </p>
                                <p><%= Address.add2 %> </p>
                                <p> <span class="Address_span"> Town :</span> <%= Address.Town %> </p>
                                <p> <span class="Address_span"> Pin Code :</span> <%= Address.PinCode %> </p>
                                <br>
                            </div>
                            
                        
                        
                        <a href="/Edit_Address?id=<%= Address._id %>"><button class="Edibuttton">Edit Address</button></a>
                        <button class="delete Editbuttton" data-address-id="<%= Address._id %>" >Delete Address</button>

                        <% }) %>
            
                    <% }else{ %>
                        <h3>No Address Added</h3>
                        
                    <% } %>
                    
                </div>
                        



                    <div id="content" style="display: none;" class="col-md-9">

                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="account-general">
                                <div class="card-body media align-items-center">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt class="d-block ui-w-80">

                                    <!-- <div class="media-body ml-4">
                              <label class="btn btn-outline-primary">
                                    Upload new photo
                                    <input type="file" class="account-settings-fileinput">
                                </label> &nbsp;
                                <button type="button" class="btn btn-default md-btn-flat">Reset</button>
                                <div class="text-light small mt-1">Allowed JPG, GIF or PNG. Max size of 800K</div>
                            </div> -->

                                </div>
                                <hr class="border-light m-0">
                                <div class="card-body">
                                    <form action="UpdateProfile" method="post">
                                        <div class="form-group">
                                            <label class="form-label">Username</label>
                                            <!-- <input type="hidden" class="form-control mb-1" name="id" value=""> -->
                                            <input type="text" class="form-control mb-1" name="username" value="">
                                            <!-- <input type="button" class="btn btn-sm btn-outline-success" value="edit"></input> -->
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">Phone</label>
                                            <input type="text" class="form-control mb-1" name="mobileNumber" value="">
                                        </div>
                                        <!-- <div class="form-group">
                                            <a class="list-group-item list-group-item-action form-control w-25 text-center "
                                                data-toggle="list" href="#account-change-password">Change Password?</a>
                                        </div> -->
                                        <!-- <div class="form-group">

                                    <button type="submit" class="btn btn-primary">edit</button>&nbsp;
                                </div> -->
                                        <div class="text-right mt-3">
                                            <button type="submit" class="btn_3" style="border-radius: 10;">Save changes</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="account-change-password">
                                <div class="card-body pb-2">
                                    <div class="form-group">
                                        <label class="form-label">Current password</label>
                                        <input type="password" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">New password</label>
                                        <input type="password" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Repeat new password</label>
                                        <input type="password" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="account-info">
                                <div class="card-body pb-2">
                                    <div class="form-group">
                                        <label class="form-label">Bio</label>
                                        <textarea class="form-control"
                                            rows="5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nunc arcu, dignissim sit amet sollicitudin iaculis, vehicula id urna. Sed luctus urna nunc. Donec fermentum, magna sit amet rutrum pretium, turpis dolor molestie diam, ut lacinia diam risus eleifend sapien. Curabitur ac nibh nulla. Maecenas nec augue placerat, viverra tellus non, pulvinar risus.</textarea>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Birthday</label>
                                        <input type="text" class="form-control" value="May 3, 1995">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Country</label>
                                        <select class="custom-select">
                                            <option>USA</option>
                                            <option selected>Canada</option>
                                            <option>UK</option>
                                            <option>Germany</option>
                                            <option>France</option>
                                        </select>
                                    </div>
                                </div>
                                <hr class="border-light m-0">
                                <div class="card-body pb-2">
                                    <h6 class="mb-4">Contacts</h6>
                                    <div class="form-group">
                                        <label class="form-label">Phone</label>
                                        <input type="text" class="form-control" value="+0 (123) 456 7891">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Website</label>
                                        <input type="text" class="form-control" value>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="account-social-links">
                                <div class="card-body pb-2">
                                    <div class="form-group">
                                        <label class="form-label">Twitter</label>
                                        <input type="text" class="form-control" value="https://twitter.com/user">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Facebook</label>
                                        <input type="text" class="form-control" value="https://www.facebook.com/user">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Google+</label>
                                        <input type="text" class="form-control" value>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">LinkedIn</label>
                                        <input type="text" class="form-control" value>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Instagram</label>
                                        <input type="text" class="form-control" value="https://www.instagram.com/user">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="account-connections">
                                <div class="card-body">
                                    <button type="button" class="btn btn-twitter">Connect to
                                        <strong>Twitter</strong></button>
                                </div>
                                <hr class="border-light m-0">
                                <div class="card-body">
                                    <h5 class="mb-2">
                                        <a href="javascript:void(0)" class="float-right text-muted text-tiny"><i
                                                class="ion ion-md-close"></i> Remove</a>
                                        <i class="ion ion-logo-google text-google"></i>
                                        You are connected to Google:
                                    </h5>
                                    <a href="/cdn-cgi/l/email-protection" class="cf_email"
                                        data-cfemail="f9979498818e9c9595b994989095d79a9694">[email&#160;protected]</a>
                                </div>
                                <hr class="border-light m-0">
                                <div class="card-body">
                                    <button type="button" class="btn btn-facebook">Connect to
                                        <strong>Facebook</strong></button>
                                </div>
                                <hr class="border-light m-0">
                                <div class="card-body">
                                    <button type="button" class="btn btn-instagram">Connect to
                                        <strong>Instagram</strong></button>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="account-notifications">
                                <div class="card-body pb-2">
                                    <h6 class="mb-4">Activity</h6>
                                    <div class="form-group">
                                        <label class="switcher">
                                            <input type="checkbox" class="switcher-input" checked>
                                            <span class="switcher-indicator">
                                                <span class="switcher-yes"></span>
                                                <span class="switcher-no"></span>
                                            </span>
                                            <span class="switcher-label">Email me when someone comments on my
                                                article</span>
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="switcher">
                                            <input type="checkbox" class="switcher-input" checked>
                                            <span class="switcher-indicator">
                                                <span class="switcher-yes"></span>
                                                <span class="switcher-no"></span>
                                            </span>
                                            <span class="switcher-label">Email me when someone answers on my forum
                                                thread</span>
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="switcher">
                                            <input type="checkbox" class="switcher-input">
                                            <span class="switcher-indicator">
                                                <span class="switcher-yes"></span>
                                                <span class="switcher-no"></span>
                                            </span>
                                            <span class="switcher-label">Email me when someone follows me</span>
                                        </label>
                                    </div>
                                </div>
                                <hr class="border-light m-0">
                                <div class="card-body pb-2">
                                    <h6 class="mb-4">Application</h6>
                                    <div class="form-group">
                                        <label class="switcher">
                                            <input type="checkbox" class="switcher-input" checked>
                                            <span class="switcher-indicator">
                                                <span class="switcher-yes"></span>
                                                <span class="switcher-no"></span>
                                            </span>
                                            <span class="switcher-label">News and announcements</span>
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="switcher">
                                            <input type="checkbox" class="switcher-input">
                                            <span class="switcher-indicator">
                                                <span class="switcher-yes"></span>
                                                <span class="switcher-no"></span>
                                            </span>
                                            <span class="switcher-label">Weekly product updates</span>
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label class="switcher">
                                            <input type="checkbox" class="switcher-input" checked>
                                            <span class="switcher-indicator">
                                                <span class="switcher-yes"></span>
                                                <span class="switcher-no"></span>
                                            </span>
                                            <span class="switcher-label">Weekly blog digest</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    

                    


                    
                </div>
            </div>
        </div>

    <!--::footer_part start::-->
    <footer class="footer_part">
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-sm-6 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Top Products</h4>
                        <ul class="list-unstyled">
                            <li><a href="">Managed Website</a></li>
                            <li><a href="">Manage Reputation</a></li>
                            <li><a href="">Power Tools</a></li>
                            <li><a href="">Marketing Service</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Quick Links</h4>
                        <ul class="list-unstyled">
                            <li><a href="">Jobs</a></li>
                            <li><a href="">Brand Assets</a></li>
                            <li><a href="">Investor Relations</a></li>
                            <li><a href="">Terms of Service</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Features</h4>
                        <ul class="list-unstyled">
                            <li><a href="">Jobs</a></li>
                            <li><a href="">Brand Assets</a></li>
                            <li><a href="">Investor Relations</a></li>
                            <li><a href="">Terms of Service</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <div class="single_footer_part">
                        <h4>Resources</h4>
                        <ul class="list-unstyled">
                            <li><a href="">Guides</a></li>
                            <li><a href="">Research</a></li>
                            <li><a href="">Experts</a></li>
                            <li><a href="">Agencies</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="single_footer_part">
                        <h4>Newsletter</h4>
                        <p>Heaven fruitful doesn't over lesser in days. Appear creeping
                        </p>
                        <div id="mc_embed_signup">
                            <form target="_blank"
                                action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                method="get" class="subscribe_form relative mail_part">
                                <input type="email" name="email" id="newsletter-form-email" placeholder="Email Address"
                                    class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = ' Email Address '">
                                <button type="submit" name="submit" id="newsletter-submit"
                                    class="email_icon newsletter-submit button-contactForm">subscribe</button>
                                <div class="mt-10 info"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="copyright_part">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="copyright_text">

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="footer_icon social_icon">
                            <ul class="list-unstyled">
                                <li><a href="#" class="single_social_icon"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" class="single_social_icon"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" class="single_social_icon"><i class="fas fa-globe"></i></a></li>
                                <li><a href="#" class="single_social_icon"><i class="fab fa-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--::footer_part end::-->

        <script>
        function loadContent(section) {
            const contentDiv = document.getElementById('content');
            switch (section) {
                case 'Profile':
                    contentDiv.style.display = " none"
                    document.getElementById("address").style.display = "none"
                    document.getElementById("UserDetails").style.display = "block"
                    document.getElementById("bt1").style.backgroundColor = " rgb(255, 248, 228)"
                    document.getElementById("bt2").style.backgroundColor = "white"
                    break;
                    
                case 'Edit_Profile':
                    contentDiv.style.display = " block"
                    document.getElementById("UserDetails").style.display = "none"
                    document.getElementById("address").style.display = "none"
                    document.getElementById("bt2").style.backgroundColor = " rgb(255, 248, 228)"
                    document.getElementById("bt1").style.backgroundColor = "white"
                    document.getElementById("bt3").style.backgroundColor = "white"
                    break;
                
                case 'Address':
                    contentDiv.style.display = "none"
                    contentDiv.style.display = " none"
                    document.getElementById("UserDetails").style.display = "none"
                    document.getElementById("address").style.display = "block"
                    document.getElementById("bt3").style.backgroundColor = " rgb(255, 248, 228)"
                    document.getElementById("bt2").style.backgroundColor = "white"
                    document.getElementById("bt1").style.backgroundColor = "white"
                    break;
                case 'edit-profile':
                    contentDiv.innerHTML = '<h2>Edit Profile</h2><p>This is your profile editing section.</p>';
                    break;
                case 'cancel-orders':
                    contentDiv.innerHTML = '<h2>Cancel Orders</h2><p>This is the cancel orders section.</p>';
                    break;
                case 'forgot-password':
                    contentDiv.innerHTML = '<h2>Forgot Password</h2><p>This is the forgot password section.</p>';
                    break;
                case 'cart-management':
                    contentDiv.innerHTML = '<h2>Cart Management</h2><p>This is the cart management section.</p>';
                    break;
                default:
                    contentDiv.innerHTML = '<h2>Welcome to Your User Dashboard</h2><p>Select an option from the left to view details.</p>';
            }
        }
    </script>

    <script>
         function handleDeleleteClick(addressId){
            console.log("fghjdfjf gfd jfhj ffd fg",addressId);
            
            fetch(`http://localhost:5000/DeleteAddress?id=${addressId}`,{
                method:'DELETE',
                header:{
                    'Content-Type':'application/json'
                }
            })
                .then(response => response.json)
                .then(data =>{
                    console.log(data)
                    // $('#address').load('/UserProfile #address');
                    location.reload();
                    
                })
                .catch(error => console.log("Error on DleleteAdress",error))
        }

        // Example of calling the function on a button click
        document.querySelectorAll('.Editbuttton').forEach(button => {
            button.addEventListener('click', function () {
                const addressId = button.getAttribute('data-address-id')
                

                handleDeleleteClick(addressId)
            });
        });

      
    </script>
    
    
        </div>

        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/jquery-ui.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/aos.js"></script>

        <script src="js/main.js"></script>

        <!-- Bootstrap Script link -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <!-- jquery plugins here-->
    <script src="js/jquery-1.12.1.min.js"></script>
    <!-- popper js -->
    <script src="js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- easing js -->
    <script src="js/jquery.magnific-popup.js"></script>
    <!-- swiper js -->
    <script src="js/swiper.min.js"></script>
    <!-- swiper js -->
    <script src="js/masonry.pkgd.js"></script>
    <!-- particles js -->
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <!-- slick js -->
    <script src="js/slick.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/contact.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/mail-script.js"></script>
    <!-- custom js -->
    <script src="js/custom.js"></script>

    </body>

    </html>
